<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CallDirectoryExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>FraudCallExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>IntermediaryCallExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>PromoteCallExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>TodayWidget.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>TouchPalDialer.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>YellowPageCallExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1D6058900D05DD3D006BFB54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A984FC4164B62E3002CC93F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A204095C1D8FAADE0099A408</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFC0438C1B1574B100CFE7D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA0257DF1D669CA100C1A558</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAD72E2B1D8945B50020ACE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAD72E3D1D8946100020ACE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAD72E4F1D8946470020ACE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
