<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tp_color_red_900</key>
	<string>0x982c37</string>
	<key>tp_color_red_800</key>
	<string>0xb13340</string>
	<key>tp_color_red_700</key>
	<string>0xca3a49</string>
	<key>tp_color_red_600</key>
	<string>0xe34252</string>
	<key>tp_color_red_500</key>
	<string>0xfd495b</string>
	<key>tp_color_red_400</key>
	<string>0xfd6473</string>
	<key>tp_color_red_300</key>
	<string>0xfe808d</string>
	<key>tp_color_red_200</key>
	<string>0xfe9ba5</string>
	<key>tp_color_red_100</key>
	<string>0xfeb6bd</string>
	<key>tp_color_red_50</key>
	<string>0xfed1d6</string>

	<key>tp_color_pink_900</key>
	<string>0x99264d</string>
	<key>tp_color_pink_800</key>
	<string>0xb22d59</string>
	<key>tp_color_pink_700</key>
	<string>0xcc3366</string>
	<key>tp_color_pink_600</key>
	<string>0xe53973</string>
	<key>tp_color_pink_500</key>
	<string>0xff4080</string>
	<key>tp_color_pink_400</key>
	<string>0xff5c93</string>
	<key>tp_color_pink_300</key>
	<string>0xff7aa6</string>
	<key>tp_color_pink_200</key>
	<string>0xff96b9</string>
	<key>tp_color_pink_100</key>
	<string>0xffb3cc</string>
	<key>tp_color_pink_50</key>
	<string>0xffcfdf</string>

	<key>tp_color_purple_900</key>
	<string>0x7c3e97</string>
	<key>tp_color_purple_800</key>
	<string>0x9049af</string>
	<key>tp_color_purple_700</key>
	<string>0xa653c9</string>
	<key>tp_color_purple_600</key>
	<string>0xba5de1</string>
	<key>tp_color_purple_500</key>
	<string>0xcf68fb</string>
	<key>tp_color_purple_400</key>
	<string>0xd67ffc</string>
	<key>tp_color_purple_300</key>
	<string>0xdd96fc</string>
	<key>tp_color_purple_200</key>
	<string>0xe5acfd</string>
	<key>tp_color_purple_100</key>
	<string>0xecc3fd</string>
	<key>tp_color_purple_50</key>
	<string>0xf3d9fe</string>

	<key>tp_color_deep_purple_900</key>
	<string>0x494199</string>
	<key>tp_color_deep_purple_800</key>
	<string>0x554bb2</string>
	<key>tp_color_deep_purple_700</key>
	<string>0x6256cc</string>
	<key>tp_color_deep_purple_600</key>
	<string>0x6e61e5</string>
	<key>tp_color_deep_purple_500</key>
	<string>0x7a6cff</string>
	<key>tp_color_deep_purple_400</key>
	<string>0x8e82ff</string>
	<key>tp_color_deep_purple_300</key>
	<string>0xa298ff</string>
	<key>tp_color_deep_purple_200</key>
	<string>0xb6aeff</string>
	<key>tp_color_deep_purple_100</key>
	<string>0xcac4ff</string>
	<key>tp_color_deep_purple_50</key>
	<string>0xdedaff</string>

	<key>tp_color_indigo_900</key>
	<string>0x2b3c93</string>
	<key>tp_color_indigo_800</key>
	<string>0x3246ab</string>
	<key>tp_color_indigo_700</key>
	<string>0x3950c4</string>
	<key>tp_color_indigo_600</key>
	<string>0x405adc</string>
	<key>tp_color_indigo_500</key>
	<string>0x4764f5</string>
	<key>tp_color_indigo_400</key>
	<string>0x627bf6</string>
	<key>tp_color_indigo_300</key>
	<string>0x7f93f8</string>
	<key>tp_color_indigo_200</key>
	<string>0x9aaafa</string>
	<key>tp_color_indigo_100</key>
	<string>0xb5c1fb</string>
	<key>tp_color_indigo_50</key>
	<string>0xd1d8fc</string>

	<key>tp_color_blue_900</key>
	<string>0x13588f</string>
	<key>tp_color_blue_800</key>
	<string>0x1666a7</string>
	<key>tp_color_blue_700</key>
	<string>0x1975bf</string>
	<key>tp_color_blue_600</key>
	<string>0x1c83d7</string>
	<key>tp_color_blue_500</key>
	<string>0x1f92ef</string>
	<key>tp_color_blue_400</key>
	<string>0x40a2f1</string>
	<key>tp_color_blue_300</key>
	<string>0x63b3f4</string>
	<key>tp_color_blue_200</key>
	<string>0x84c3f6</string>
	<key>tp_color_blue_100</key>
	<string>0xa5d3f9</string>
	<key>tp_color_blue_50</key>
	<string>0xc7e4fb</string>

	<key>tp_color_light_blue_900</key>
	<string>0x026592</string>
	<key>tp_color_light_blue_800</key>
	<string>0x0276aa</string>
	<key>tp_color_light_blue_700</key>
	<string>0x0287c3</string>
	<key>tp_color_light_blue_600</key>
	<string>0x0398db</string>
	<key>tp_color_light_blue_500</key>
	<string>0x03a9f4</string>
	<key>tp_color_light_blue_400</key>
	<string>0x29b6f6</string>
	<key>tp_color_light_blue_300</key>
	<string>0x4fc3f7</string>
	<key>tp_color_light_blue_200</key>
	<string>0x75d0f9</string>
	<key>tp_color_light_blue_100</key>
	<string>0x9addfb</string>
	<key>tp_color_light_blue_50</key>
	<string>0xc0e9fc</string>

	<key>tp_color_cyan_900</key>
	<string>0x0e7874</string>
	<key>tp_color_cyan_800</key>
	<string>0x118c87</string>
	<key>tp_color_cyan_700</key>
	<string>0x13a09b</string>
	<key>tp_color_cyan_600</key>
	<string>0x16b4ae</string>
	<key>tp_color_cyan_500</key>
	<string>0x18c8c2</string>
	<key>tp_color_cyan_400</key>
	<string>0x3ad0cb</string>
	<key>tp_color_cyan_300</key>
	<string>0x5ed9d4</string>
	<key>tp_color_cyan_200</key>
	<string>0x80e1de</string>
	<key>tp_color_cyan_100</key>
	<string>0xa3e9e7</string>
	<key>tp_color_cyan_50</key>
	<string>0xc5f1f0</string>

	<key>tp_color_teal_900</key>
	<string>0x0b6547</string>
	<key>tp_color_teal_800</key>
	<string>0x0d7552</string>
	<key>tp_color_teal_700</key>
	<string>0x0f865e</string>
	<key>tp_color_teal_600</key>
	<string>0x11976a</string>
	<key>tp_color_teal_500</key>
	<string>0x13a876</string>
	<key>tp_color_teal_400</key>
	<string>0x36b58a</string>
	<key>tp_color_teal_300</key>
	<string>0x5ac29f</string>
	<key>tp_color_teal_200</key>
	<string>0x7dcfb4</string>
	<key>tp_color_teal_100</key>
	<string>0xa1dcc8</string>
	<key>tp_color_teal_50</key>
	<string>0xc4e9dd</string>

	<key>tp_color_green_900</key>
	<string>0x21773b</string>
	<key>tp_color_green_800</key>
	<string>0x268b45</string>
	<key>tp_color_green_700</key>
	<string>0x2c9f4f</string>
	<key>tp_color_green_600</key>
	<string>0x31b359</string>
	<key>tp_color_green_500</key>
	<string>0x37c763</string>
	<key>tp_color_green_400</key>
	<string>0x55cf7a</string>
	<key>tp_color_green_300</key>
	<string>0x73d892</string>
	<key>tp_color_green_200</key>
	<string>0x91e0a9</string>
	<key>tp_color_green_100</key>
	<string>0xafe9c1</string>
	<key>tp_color_green_50</key>
	<string>0xcdf1d8</string>

	<key>tp_color_light_green_900</key>
	<string>0x486509</string>
	<key>tp_color_light_green_800</key>
	<string>0x54760a</string>
	<key>tp_color_light_green_700</key>
	<string>0x60870c</string>
	<key>tp_color_light_green_600</key>
	<string>0x6c980d</string>
	<key>tp_color_light_green_500</key>
	<string>0x78a90f</string>
	<key>tp_color_light_green_400</key>
	<string>0x8cb633</string>
	<key>tp_color_light_green_300</key>
	<string>0xa1c357</string>
	<key>tp_color_light_green_200</key>
	<string>0xb5d07b</string>
	<key>tp_color_light_green_100</key>
	<string>0xc9dd9f</string>
	<key>tp_color_light_green_50</key>
	<string>0xdde9c3</string>

	<key>tp_color_lime_900</key>
	<string>0x7a8606</string>
	<key>tp_color_lime_800</key>
	<string>0x8e9c07</string>
	<key>tp_color_lime_700</key>
	<string>0xa2b208</string>
	<key>tp_color_lime_600</key>
	<string>0xb6c809</string>
	<key>tp_color_lime_500</key>
	<string>0xcbdf0a</string>
	<key>tp_color_lime_400</key>
	<string>0xd3e42f</string>
	<key>tp_color_lime_300</key>
	<string>0xdbe954</string>
	<key>tp_color_lime_200</key>
	<string>0xe2ed78</string>
	<key>tp_color_lime_100</key>
	<string>0xeaf29d</string>
	<key>tp_color_lime_50</key>
	<string>0xf2f7c2</string>

	<key>tp_color_yellow_900</key>
	<string>0xbf9602</string>
	<key>tp_color_yellow_800</key>
	<string>0xd6a800</string>
	<key>tp_color_yellow_700</key>
	<string>0xedba02</string>
	<key>tp_color_yellow_600</key>
	<string>0xf7cb07</string>
	<key>tp_color_yellow_500</key>
	<string>0xfad905</string>
	<key>tp_color_yellow_400</key>
	<string>0xfce40d</string>
	<key>tp_color_yellow_300</key>
	<string>0xffec45</string>
	<key>tp_color_yellow_200</key>
	<string>0xfff178</string>
	<key>tp_color_yellow_100</key>
	<string>0xfff59d</string>
	<key>tp_color_yellow_50</key>
	<string>0xfef6c2</string>

	<key>tp_color_amber_900</key>
	<string>0xbd8008</string>
	<key>tp_color_amber_800</key>
	<string>0xd69209</string>
	<key>tp_color_amber_700</key>
	<string>0xeda20c</string>
	<key>tp_color_amber_600</key>
	<string>0xfbb318</string>
	<key>tp_color_amber_500</key>
	<string>0xffbf29</string>
	<key>tp_color_amber_400</key>
	<string>0xffc949</string>
	<key>tp_color_amber_300</key>
	<string>0xffd26a</string>
	<key>tp_color_amber_200</key>
	<string>0xffdc8a</string>
	<key>tp_color_amber_100</key>
	<string>0xffe5a9</string>
	<key>tp_color_amber_50</key>
	<string>0xffefc9</string>

	<key>tp_color_orange_900</key>
	<string>0xff5d20</string>
	<key>tp_color_orange_800</key>
	<string>0xff6c25</string>
	<key>tp_color_orange_700</key>
	<string>0xff7c2a</string>
	<key>tp_color_orange_600</key>
	<string>0xff8b30</string>
	<key>tp_color_orange_500</key>
	<string>0xff9b35</string>
	<key>tp_color_orange_400</key>
	<string>0xffaa53</string>
	<key>tp_color_orange_300</key>
	<string>0xffb972</string>
	<key>tp_color_orange_200</key>
	<string>0xffc890</string>
	<key>tp_color_orange_100</key>
	<string>0xffd7ae</string>
	<key>tp_color_orange_50</key>
	<string>0xffe6cc</string>

	<key>tp_color_deep_orange_900</key>
	<string>0x943a0d</string>
	<key>tp_color_deep_orange_800</key>
	<string>0xac440f</string>
	<key>tp_color_deep_orange_700</key>
	<string>0xc64e12</string>
	<key>tp_color_deep_orange_600</key>
	<string>0xde5714</string>
	<key>tp_color_deep_orange_500</key>
	<string>0xf76116</string>
	<key>tp_color_deep_orange_400</key>
	<string>0xf87939</string>
	<key>tp_color_deep_orange_300</key>
	<string>0xf9915c</string>
	<key>tp_color_deep_orange_200</key>
	<string>0xfba87f</string>
	<key>tp_color_deep_orange_100</key>
	<string>0xfcc0a2</string>
	<key>tp_color_deep_orange_50</key>
	<string>0xfdd7c5</string>

	<key>tp_color_orange_red_900</key>
	<string>0x872219</string>
	<key>tp_color_orange_red_800</key>
	<string>0xa92c21</string>
	<key>tp_color_orange_red_700</key>
	<string>0xc4362a</string>
	<key>tp_color_orange_red_600</key>
	<string>0xd63728</string>
	<key>tp_color_orange_red_500</key>
	<string>0xeb3e2d</string>
	<key>tp_color_orange_red_400</key>
	<string>0xef5344</string>
	<key>tp_color_orange_red_300</key>
	<string>0xfa6e5f</string>
	<key>tp_color_orange_red_200</key>
	<string>0xfc897c</string>
	<key>tp_color_orange_red_100</key>
	<string>0xfca597</string>
	<key>tp_color_orange_red_50</key>
	<string>0xffc7bd</string>

	<key>tp_color_brown_900</key>
	<string>0x4b382e</string>
	<key>tp_color_brown_800</key>
	<string>0x574136</string>
	<key>tp_color_brown_700</key>
	<string>0x644a3e</string>
	<key>tp_color_brown_600</key>
	<string>0x705445</string>
	<key>tp_color_brown_500</key>
	<string>0x7d5d4d</string>
	<key>tp_color_brown_400</key>
	<string>0x907568</string>
	<key>tp_color_brown_300</key>
	<string>0xa48e83</string>
	<key>tp_color_brown_200</key>
	<string>0xb8a69d</string>
	<key>tp_color_brown_100</key>
	<string>0xcbbeb8</string>
	<key>tp_color_brown_50</key>
	<string>0xded6d2</string>

	<key>tp_color_blue_grey_900</key>
	<string>0x354451</string>
	<key>tp_color_blue_grey_800</key>
	<string>0x3e505e</string>
	<key>tp_color_blue_grey_700</key>
	<string>0x475b6c</string>
	<key>tp_color_blue_grey_600</key>
	<string>0x506679</string>
	<key>tp_color_blue_grey_500</key>
	<string>0x597287</string>
	<key>tp_color_blue_grey_400</key>
	<string>0x728799</string>
	<key>tp_color_blue_grey_300</key>
	<string>0x8b9dab</string>
	<key>tp_color_blue_grey_200</key>
	<string>0xa4b2bd</string>
	<key>tp_color_blue_grey_100</key>
	<string>0xbdc7cf</string>
	<key>tp_color_blue_grey_50</key>
	<string>0xd5dce1</string>

	<key>tp_color_grey_900</key>
	<string>0x1a1a1a</string>
	<key>tp_color_grey_850</key>
	<string>0x262626</string>
	<key>tp_color_grey_800</key>
	<string>0x333333</string>
	<key>tp_color_grey_750</key>
	<string>0x404040</string>
	<key>tp_color_grey_700</key>
	<string>0x4d4d4d</string>
	<key>tp_color_grey_650</key>
	<string>0x595959</string>
	<key>tp_color_grey_600</key>
	<string>0x666666</string>
	<key>tp_color_grey_550</key>
	<string>0x737373</string>
	<key>tp_color_grey_500</key>
	<string>0x808080</string>
	<key>tp_color_grey_450</key>
	<string>0x8d8d8d</string>
	<key>tp_color_grey_400</key>
	<string>0x999999</string>
	<key>tp_color_grey_350</key>
	<string>0xa6a6a6</string>
	<key>tp_color_grey_300</key>
	<string>0xb3b3b3</string>
	<key>tp_color_grey_250</key>
	<string>0xc0c0c0</string>
	<key>tp_color_grey_200</key>
	<string>0xcccccc</string>
	<key>tp_color_grey_150</key>
	<string>0xd9d9d9</string>
	<key>tp_color_grey_100</key>
	<string>0xe6e6e6</string>
	<key>tp_color_grey_50</key>
	<string>0xf3f3f3</string>

	<key>tp_color_black</key>
	<string>0x000000</string>
	<key>tp_color_black_transparency_950</key>
	<string>0x0D000000</string>
	<key>tp_color_black_transparency_900</key>
	<string>0x1A000000</string>
	<key>tp_color_black_transparency_850</key>
	<string>0x26000000</string>
	<key>tp_color_black_transparency_800</key>
	<string>0x33000000</string>
	<key>tp_color_black_transparency_750</key>
	<string>0x40000000</string>
	<key>tp_color_black_transparency_700</key>
	<string>0x4D000000</string>
	<key>tp_color_black_transparency_650</key>
	<string>0x59000000</string>
	<key>tp_color_black_transparency_600</key>
	<string>0x66000000</string>
	<key>tp_color_black_transparency_550</key>
	<string>0x73000000</string>
	<key>tp_color_black_transparency_500</key>
	<string>0x80000000</string>
	<key>tp_color_black_transparency_450</key>
	<string>0x8C000000</string>
	<key>tp_color_black_transparency_400</key>
	<string>0x99000000</string>
	<key>tp_color_black_transparency_350</key>
	<string>0xA6000000</string>
	<key>tp_color_black_transparency_300</key>
	<string>0xB3000000</string>
	<key>tp_color_black_transparency_250</key>
	<string>0xC0000000</string>
	<key>tp_color_black_transparency_200</key>
	<string>0xCC000000</string>
	<key>tp_color_black_transparency_150</key>
	<string>0xD9000000</string>
	<key>tp_color_black_transparency_100</key>
	<string>0xE6000000</string>
	<key>tp_color_black_transparency_50</key>
	<string>0xF3000000</string>
	<key>tp_color_black_transparency_0</key>
	<string>0xFF000000</string>

	<key>tp_color_white</key>
	<string>0xffffff</string>
	<key>tp_color_white_transparency_950</key>
	<string>0x0Dffffff</string>
	<key>tp_color_white_transparency_900</key>
	<string>0x1Affffff</string>
	<key>tp_color_white_transparency_850</key>
	<string>0x26ffffff</string>
	<key>tp_color_white_transparency_800</key>
	<string>0x33ffffff</string>
	<key>tp_color_white_transparency_750</key>
	<string>0x40ffffff</string>
	<key>tp_color_white_transparency_700</key>
	<string>0x4Dffffff</string>
	<key>tp_color_white_transparency_650</key>
	<string>0x59ffffff</string>
	<key>tp_color_white_transparency_600</key>
	<string>0x66ffffff</string>
	<key>tp_color_white_transparency_550</key>
	<string>0x73ffffff</string>
	<key>tp_color_white_transparency_500</key>
	<string>0x80ffffff</string>
	<key>tp_color_white_transparency_450</key>
	<string>0x8Cffffff</string>
	<key>tp_color_white_transparency_400</key>
	<string>0x99ffffff</string>
	<key>tp_color_white_transparency_350</key>
	<string>0xA6ffffff</string>
	<key>tp_color_white_transparency_300</key>
	<string>0xB3ffffff</string>
	<key>tp_color_white_transparency_250</key>
	<string>0xCffffff</string>
	<key>tp_color_white_transparency_200</key>
	<string>0xCCffffff</string>
	<key>tp_color_white_transparency_150</key>
	<string>0xD9ffffff</string>
	<key>tp_color_white_transparency_100</key>
	<string>0xE6ffffff</string>
	<key>tp_color_white_transparency_50</key>
	<string>0xF3ffffff</string>
	<key>tp_color_white_transparency_0</key>
	<string>0xFFffffff</string>
</dict>
</plist>
