<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>**************default-通用元素**************</key>
	<string></string>
	<key>**************通用元素：页面背景色**************</key>
	<string></string>
	<key>defaultBackground_color</key>
	<string>tp_color_grey_50</string>
	<key>defaultBackgroundWhite_color</key>
	<string>tp_color_white</string>
	<key>CootekViewController_background_color</key>
	<string>defaultBackground_color</string>
	<key>**************用户打开程序，没有address book权限的界面**************</key>
	<string></string>
	<key>addressBookAccesshintBackground_color</key>
	<string>0xdde7f0</string>
	<key>**************通用元素：列表-cell**************</key>
	<string></string>
	<key>defaultCellBackground_color</key>
	<string>tp_color_white</string>
	<key>defaultCellSelected_color</key>
	<string>tp_color_grey_50</string>
	<key>defaultCellMainText_color</key>
	<string>tp_color_grey_800</string>
	<key>defaultCellDetailText_color</key>
	<string>tp_color_grey_300</string>
	<key>**************通用元素：字体-text**************</key>
	<string></string>
	<key>defaultText_color</key>
	<string>tp_color_white</string>
	<key>defaultTextBlack_color</key>
	<string>tp_color_black</string>
	<key>defaultTextGray_color</key>
	<string>defaultCellDetailText_color</string>
	<key>highlightLabel_text_color</key>
	<string>defaultCellMainText_color</string>
	<key>highlightLabel_highlight_color</key>
	<string>tp_color_blue_500</string>
	<key>RankEmptyReminderView_reminderLabelText_color</key>
	<string>tp_color_blue_grey_400</string>
	<key>**************通用元素：蒙版-mask**************</key>
	<string></string>
	<key>blackWith_0.1_alpha_color</key>
	<string>tp_color_black_transparency_100</string>
	<key>blackWith_0.2_alpha_color</key>
	<string>tp_color_black_transparency_150</string>
	<key>**************通用元素：表格-Table**************</key>
	<string></string>
	<key>UITableViewSectionHeaderBackground_color</key>
	<string>tp_color_grey_50</string>
	<key>UITableViewSectionHeaderText_color</key>
	<string>tp_color_light_blue_500</string>
	<key>defaultUITableViewCell_style</key>
	<dict>
		<key>backgroundColor</key>
		<string>clearColor</string>
		<key>textColor</key>
		<string>defaultCellMainText_color</string>
	</dict>
	<key>defaultUITableViewSeperator_color</key>
	<string>tp_color_grey_150</string>
	<key>defaultUITableView_style</key>
	<dict>
		<key>backgroundColor</key>
		<string>clearColor</string>
		<key>seperatorColor</key>
		<string>defaultUITableViewSeperator_color</string>
	</dict>
	<key>**************通用元素：状态栏-statusBar**************</key>
	<string></string>
	<key>statusBar_isDefaultStyle</key>
	<string>0</string>
	<key>tabBarIconHasText</key>
	<string>1</string>
	<key>**************通用元素：导航栏-headerBar**************</key>
	<string></string>
	<key>defaultHeaderView_style</key>
	<dict>
		<key>backgroundImage</key>
		<string>common_header_bg@2x.png</string>
	</dict>
	<key>defaultUILabel_style</key>
	<dict>
		<key>backgroundColor_color</key>
		<string>clearColor</string>
		<key>textColor_color</key>
		<string>tp_color_white</string>
	</dict>
	<key>header_btn_color</key>
	<string>tp_color_white</string>
	<key>header_btn_disabled_color</key>
	<string>tp_color_white_transparency_300</string>
	<key>defaultTPHeaderButton_style</key>
	<dict>
		<key>backgroundImage</key>
		<string>common_btn_normal@2x.png</string>
		<key>backgroundImage_ht</key>
		<string>common_btn_pressed@2x.png</string>
		<key>textColor</key>
		<string>tp_color_white</string>
	</dict>
	<key>PhoneNumberInputView_style</key>
	<dict>
		<key>attrTextColor</key>
		<string>tp_color_white_transparency_500</string>
		<key>font</key>
		<string>124</string>
		<key>textColor</key>
		<string>tp_color_white</string>
	</dict>
	<key>newer_wizard_color</key>
	<string>tp_color_orange_500</string>
	<key>default_backButton_style</key>
	<dict>
		<key>imageForStateNormal</key>
		<string>common_navgation_back_icon@2x.png</string>
	</dict>
	<key>default_editButton_style</key>
	<dict>
		<key>imageForStateNormal</key>
		<string>common_header_edit_normal@2x.png</string>
		<key>imageForSelectedState</key>
		<string>common_header_edit_normal@2x.png</string>
	</dict>
	<key>default_headtabbar_style</key>
	<dict>
		<key>backgroundColor</key>
		<string>clearColor</string>
		<key>tabButton_titleColor</key>
		<string>defaultText_color</string>
		<key>textColor</key>
		<string>defaultText_color</string>
	</dict>
	<key>**************通用元素：标签栏-tabBar**************</key>
	<string></string>
	<key>tabBarBackground_image</key>
	<string>common_tab_bar_bg@2x.png</string>
	<key>root_tab_bar_shadow_color</key>
	<string>0xff259df7</string>
	<key>rootTabBarButtonMiddle</key>
	<string>0</string>
	<key>tabBarNormalText_color</key>
	<string>tp_color_grey_400</string>
	<key>tabBarActiveText_color</key>
	<string>tp_color_light_blue_500</string>
	<key>tabBarDisableText_color</key>
	<string>tp_color_black_transparency_200</string>
	<key>contactViewController_tabBar_style</key>
	<dict>
		<key>imageForStateNormal</key>
		<string>common_tabbar_contact_normal@2x.png</string>
		<key>imageForSelectedState</key>
		<string>common_tabbar_contact_pressed@2x.png</string>
		<key>textColor</key>
		<string>tabBarNormalText_color</string>
		<key>textColor_ht</key>
		<string>tabBarActiveText_color</string>
	</dict>
	<key>dialerViewController_tabBar_style</key>
	<dict>
		<key>phonePadNormal_image</key>
		<string>common_tabbar_dialer_normal@2x.png</string>
		<key>phonePadHide_image</key>
		<string>common_tabbar_dialer_hide@2x.png</string>
		<key>phonePadShow_image</key>
		<string>common_tabbar_dialer_show@2x.png</string>
		<key>textColor</key>
		<string>tabBarNormalText_color</string>
		<key>textColor_ht</key>
		<string>tabBarActiveText_color</string>
	</dict>
	<key>favorViewController_tabBar_style</key>
	<dict>
		<key>imageForStateNormal</key>
		<string>common_tabbar_wall_normal@2x.png</string>
		<key>imageForSelectedState</key>
		<string>common_tabbar_wall_pressed@2x.png</string>
		<key>textColor</key>
		<string>tabBarNormalText_color</string>
		<key>textColor_ht</key>
		<string>tabBarActiveText_color</string>
	</dict>
	<key>dialerView_callAndDeleteBarBackImage_style</key>
	<dict>
		<key>image_image</key>
		<string>common_tab_bar_bg@2x.png</string>
	</dict>
	<key>dialerView_showKeypad_style</key>
	<dict>
		<key>imageForStateNormal</key>
		<string>common_tabbar_keyboard_show@2x.png</string>
		<key>imageForSelectedState</key>
		<string>common_tabbar_keyboard_hide@2x.png</string>
		<key>textColor</key>
		<string>tabBarNormalText_color</string>
		<key>textColor_ht</key>
		<string>tabBarNormalText_color</string>
	</dict>
	<key>dialerView_callkey_style</key>
	<dict>
		<key>CallKeyBackgroundImage</key>
		<string>dialer_callbtn_fg@2x.png</string>
		<key>CallKeyBackgroundImage_ht</key>
		<string>dialer_callbtn_fg_h@2x.png</string>
		<key>backgroundEndColor</key>
		<string>tp_color_light_green_700</string>
		<key>backgroundStartColor</key>
		<string>tp_color_light_green_500</string>
		<key>callKeyIcon</key>
		<string>dialerView_callKeyIcon@2x.png</string>
		<key>textColor</key>
		<string>tp_color_white</string>
	</dict>
	<key>dialerView_deleteKey_style</key>
	<dict>
		<key>imageForStateNormal</key>
		<string>dialer_delete_fg@2x.png</string>
		<key>imagaForDisabledState</key>
		<string>dialer_delete_disable@2x.png</string>
		<key>imageForHighlightedState</key>
		<string>dialer_delete_fg_h@2x.png</string>
		<key>textColor</key>
		<string>tabBarNormalText_color</string>
		<key>textColor_ht</key>
		<string>tabBarActiveText_color</string>
		<key>textColor_disable</key>
		<string>tabBarDisableText_color</string>
	</dict>
	<key>**************KeyPad-键盘**************</key>
	<string></string>
	<key>**************键盘：字体、按键点击-text-ht**************</key>
	<string></string>
	<key>keyPadHighlightText_color</key>
	<string>tp_color_white</string>
	<key>keyPadMainText_color</key>
	<string>tp_color_grey_600</string>
	<key>keyPadMinorText_color</key>
	<string>tp_color_grey_500</string>
	<key>**************九宫格-T9**************</key>
	<string></string>
	<key>KeyPadBgViewT9_style</key>
	<dict>
		<key>backgroundImage</key>
		<string>dailer_keyboard_abc_bj@2x.png</string>
	</dict>
	<key>T9NumberKey_style</key>
	<dict>
		<key>backgroundImage</key>
		<string>T9keypad_numberKey@2x.png</string>
		<key>backgroundImage_ht</key>
		<string>T9keyPad_numberKey_ht@2x.png</string>
		<key>textColor</key>
		<string>keyPadMainText_color</string>
		<key>textColor_ht</key>
		<string>keyPadHighlightText_color</string>
		<key>minorTextColor</key>
		<string>keyPadMinorText_color</string>
	</dict>
	<key>pressPad_style</key>
	<dict>
		<key>backgroundImage_ht</key>
		<string>T9keyPad_numberKey_ht@2x.png</string>
		<key>keyPadTopShadow_start_color</key>
		<string>tp_color_black_transparency_0</string>
		<key>keyPadTopShadow_end_color</key>
		<string>tp_color_black_transparency_50</string>
	</dict>
	<key>**************全键盘-Qwerty**************</key>
	<string></string>
	<key>KeyPadBgViewQwerty_style</key>
	<dict>
		<key>backgroundImage</key>
		<string>dailer_keyboard_123_bj@2x.png</string>
	</dict>
	<key>qwertyNormalKey_style</key>
	<dict>
		<key>backgroundImage</key>
		<string>qwertyKeyPad_normalKey@2x.png</string>
		<key>backgroundImage_ht</key>
		<string>qwertyKeyPad_normalKey_ht@2x.png</string>
		<key>textColor</key>
		<string>keyPadMainText_color</string>
		<key>textColor_ht</key>
		<string>keyPadHighlightText_color</string>
		<key>minorTextColor</key>
		<string>keyPadMinorText_color</string>
	</dict>
	<key>keyboardHasAnimation</key>
	<string>0</string>
	<key>**************CallLogCell-通话记录列表**************</key>
	<string></string>
	<key>**************通话记录-通用元素**************</key>
	<string></string>
	<key>dailerView_callLogCell_style</key>
	<dict>
		<key>dateLabel_textColor</key>
		<string>tp_color_grey_400</string>
		<key>detailButton_backgroundImage</key>
		<string>listitem_detail_2_n@2x.png</string>
		<key>detailButton_backgroundImage_ht</key>
		<string>listitem_detail_2_h@2x.png</string>
		<key>nameLabel_backgroundColor</key>
		<string>clearColor</string>
		<key>nameLabel_highlightColor</key>
		<string>highlightLabel_highlight_color</string>
		<key>nameLabel_textColor</key>
		<string>defaultCellMainText_color</string>
		<key>numberLabel_backgroundColor</key>
		<string>clearColor</string>
		<key>numberLabel_highlightColor</key>
		<string>highlightLabel_highlight_color</string>
		<key>numberLabel_textColor</key>
		<string>defaultCellDetailText_color</string>
		<key>selectedBackgroundColor</key>
		<string>defaultCellSelected_color</string>
		<key>timeLabel_textColor</key>
		<string>tp_color_grey_400</string>
	</dict>
	<key>**************通话记录-分割线、背景色**************</key>
	<string></string>
	<key>baseContactCell_downSeparateLine_color</key>
	<string>tp_color_grey_100</string>
	<key>UITableView_withBackground_style</key>
	<dict>
		<key>backgroundColor</key>
		<string>defaultCellBackground_color</string>
		<key>seperatorColor</key>
		<string>defaultUITableViewSeperator_color</string>
	</dict>
	<key>**************通话记录-识别号码标签**************</key>
	<string></string>
	<key>**************依次：业务推销、骚扰电话、房产中介、快递外卖、诈骗钓鱼**************</key>
	<string></string>
	<key>facesSticker_type_color</key>
	<string>tp_color_light_blue_500</string>
	<key>**************通话记录-长按列表**************</key>
	<string></string>
	<key>longPressView_style</key>
	<dict>
		<key>operationLabel_textColor_color</key>
		<string>defaultText_color</string>
		<key>bottom_backgroundColor</key>
		<string>tp_color_light_blue_500</string>
		<key>triangle_image</key>
		<string>Common_LongGesture_bgarrow@2x.png</string>
	</dict>
	<key>**************通话记录-未接来电**************</key>
	<string></string>
	<key>common_missedCall_text_color</key>
	<string>tp_color_red_500</string>
	<key>**************通话记录-左右滑列表**************</key>
	<string></string>
	<key>common_swipe_default_color</key>
	<string>tp_color_grey_200</string>
	<key>common_swipe_call_color</key>
	<string>tp_color_green_500</string>
	<key>common_swipe_sms_color</key>
	<string>tp_color_blue_500</string>
	<key>**************通话记录-通话记录为空提示**************</key>
	<string></string>
	<key>textColorHint2_color</key>
	<string>tp_color_grey_350</string>
	<key>textColorHint3_color</key>
	<string>tp_color_blue_400</string>
	<key>**************通话记录-搜索结果展示**************</key>
	<string></string>
	<key>searchResultView_cell_style</key>
	<dict>
		<key>detailButton_backgroundImage</key>
		<string>listitem_detail_2_n@2x.png</string>
		<key>detailButton_backgroundImage_ht</key>
		<string>listitem_detail_2_h@2x.png</string>
		<key>nameLabel_highlightColor</key>
		<string>highlightLabel_highlight_color</string>
		<key>nameLabel_textColor</key>
		<string>defaultCellMainText_color</string>
		<key>numberLabel_highlightColor</key>
		<string>highlightLabel_highlight_color</string>
		<key>numberLabel_textColor</key>
		<string>defaultCellDetailText_color</string>
		<key>selectedBackgroundColor</key>
		<string>defaultCellSelected_color</string>
	</dict>
	<key>**************pullDown-下拉框**************</key>
	<string></string>
	<key>pullDown_background_color</key>
	<string>tp_color_white</string>
	<key>pullDown_shadow_color</key>
	<string>tp_color_black_transparency_450</string>
	<key>pullDown_item_text_color</key>
	<string>tp_color_grey_800</string>
	<key>**************person-联系人**************</key>
	<string></string>
	<key>**************联系人：搜索框SearchBar**************</key>
	<string></string>
	<key>UITPSearchBarBackground_color</key>
	<string>tp_color_light_blue_500</string>
	<key>UITPSearchBarTextField_color</key>
	<string>defaultBackgroundWhite_color</string>
	<key>UITPSearchBarEditingLayerBorder_color</key>
	<string>tp_color_light_blue_500</string>
	<key>UITPSearchBar_text_color</key>
	<string>tp_color_grey_800</string>
	<key>UITPSearchBar_placeholder_color</key>
	<string>tp_color_black_transparency_300</string>
	<key>DialerFilterText_color</key>
	<string>grayColor</string>
	<key>**************联系人：收藏夹fav**************</key>
	<string></string>
	<key>fav_area_bg_color</key>
	<string>clearColor</string>
	<key>person_head_char_color</key>
	<string>tp_color_grey_900</string>
	<key>**************联系人：收藏夹弹框fav_popup**************</key>
	<string></string>
	<key>fav_popup_head_bg_color</key>
	<string>tp_color_light_blue_500</string>
	<key>fav_popup_head_bg_ht_color</key>
	<string>tp_color_light_blue_600</string>
	<key>OperationScrollView_nameLabel_text_color</key>
	<string>defaultText_color</string>
	<key>fav_popup_cell_bg_color</key>
	<string>tp_color_white</string>
	<key>fav_popup_cell_text_color</key>
	<string>defaultCellMainText_color</string>
	<key>fav_popup_cell_bg_ht_color</key>
	<string>tp_color_grey_50</string>
	<key>fav_downSeparateLine_color</key>
	<string>tp_color_grey_150</string>
	<key>fav_popup_cell_call_icon_color</key>
	<string>tp_color_light_blue_500</string>
	<key>fav_popup_cell_sms_icon_color</key>
	<string>tp_color_light_blue_500</string>
	<key>fav_popup_cell_arrow_color</key>
	<string>tp_color_white</string>
	<key>**************联系人：触宝好友touchpaler**************</key>
	<string></string>
	<key>voip_cootekUser_label_color</key>
	<string>tp_color_light_blue_600</string>
	<key>contact_special_cell_blue_image</key>
	<string>tp_color_light_blue_600</string>
	<key>contact_special_cell_icon_color</key>
	<string>tp_color_white</string>
	<key>contact_touchpaler_view_share_view_bg_color</key>
	<string>tp_color_light_blue_900</string>
	<key>contact_touchpaler_new_header_color</key>
	<string>tp_color_light_blue_600</string>
	<key>contact_touchpal_share_button_bg_image</key>
	<string>tp_color_white</string>
	<key>contact_touchpal_share_button_hl_bg_image</key>
	<string>tp_color_grey_50</string>
	<key>contact_touchpal_share_button_text_color</key>
	<string>tp_color_light_blue_500</string>
	<key>**************联系人：联系人列表头像与长按小三角形**************</key>
	<string></string>
	<key>person_default_image_0_color</key>
	<string>tp_color_grey_150</string>
	<key>person_default_image_1_color</key>
	<string>tp_color_light_blue_500</string>
	<key>**************联系人：列表内容，参照通用里的**************</key>
	<string></string>
	<key>**************联系人：导航区域**************</key>
	<string></string>
	<key>contactCellSectionHeader_color</key>
	<string>tp_color_grey_300</string>
	<key>contactCellFavSectionHeader_color</key>
	<string>tp_color_grey_600</string>
	<key>contactCellHeaderBG_color</key>
	<string>tp_color_grey_50</string>
	<key>SectionIndexView_character_color</key>
	<string>tp_color_grey_300</string>
	<key>ClearViewBackground_color</key>
	<string>tp_color_light_blue_500</string>
	<key>ClearViewText_color</key>
	<string>defaultText_color</string>
	<key>**************联系人：选择联系人界面**************</key>
	<string></string>
	<key>selectViewButtonColor_normal_color</key>
	<string>tp_color_white</string>
	<key>selectViewButtonTitleColor_disable_color</key>
	<string>tp_color_grey_400</string>
	<key>selectViewButtonTitleColor_normal_color</key>
	<string>tp_color_light_blue_500</string>
	<key>selectViewButtonTitleColor_pressed_color</key>
	<string>header_btn_disabled_color</string>
	<key>selectViewButtonArrowColor_normal_color</key>
	<string>tp_color_grey_200</string>
	<key>selectViewButtonArrowColor_pressed_color</key>
	<string>tp_color_light_blue_500</string>
	<key>**************联系人：联系人分组**************</key>
	<string></string>
	<key>expandableList_loading_label_style</key>
	<dict>
		<key>backgroundColor_color</key>
		<string>clearColor</string>
		<key>textColor_color</key>
		<string>defaultText_color</string>
	</dict>
	<key>ExpandableListViewBack_image</key>
	<string>tp_color_light_blue_500</string>
	<key>ExpandableViewController_statusBar_style</key>
	<string>1</string>
	<key>expandableList_new_headtabbar_style</key>
	<dict>
		<key>textColor</key>
		<string>defaultText_color</string>
	</dict>
	<key>ExpandableViewController_groupManage_style</key>
	<dict>
		<key>backgroundImage</key>
		<string></string>
		<key>backgroundImage_ht</key>
		<string></string>
		<key>textColor</key>
		<string>defaultText_color</string>
		<key>textColor_ht</key>
		<string>tp_color_white_transparency_500</string>
	</dict>
	<key>expandableListView_table_style</key>
	<dict>
		<key>backgroundColor</key>
		<string>tp_color_white</string>
		<key>seperatorColor</key>
		<string>tp_color_grey_800</string>
		<key>selected_color</key>
		<string>tp_color_grey_150</string>
		<key>textLabel_color</key>
		<string>tp_color_grey_800</string>
		<key>iconLabel_color</key>
		<string>tp_color_grey_600</string>
		<key>upSeperateLine_color</key>
		<string>tp_color_white</string>
		<key>downSeperateLine_color</key>
		<string>tp_color_grey_200</string>
	</dict>
	<key>expandableCell_more_normal_color</key>
	<string>tp_color_grey_300</string>
	<key>expandableCell_more_active_color</key>
	<string>tp_color_grey_300</string>
	<key>expandableCell_select_press_color</key>
	<string>tp_color_light_blue_500</string>
	<key>expandableCell_select_normal_color</key>
	<string>tp_color_grey_300</string>
	<key>**************联系人：分组为空**************</key>
	<string></string>
	<key>noGroupmemberHint_style</key>
	<dict>
		<key>hintImage</key>
		<string>contacts_group_none_pic@2x.png</string>
	</dict>
	<key>AddMemberButtonColor_normal_color</key>
	<string>tp_color_light_blue_500</string>
	<key>AddMemberButtonColor_pressed_color</key>
	<string>tp_color_light_blue_600</string>
	<key>ungroupNocontactHintLabel_style</key>
	<dict>
		<key>backgroundColor_color</key>
		<string>clearColor</string>
		<key>textColor_color</key>
		<string>tp_color_blue_grey_400</string>
	</dict>
	<key>**************联系人：组管理**************</key>
	<string></string>
	<key>CootekTableViewCell_style</key>
	<dict>
		<key>backgroundColor</key>
		<string>tp_color_white</string>
		<key>detailLabel_textColor</key>
		<string>defaultCellDetailText_color</string>
		<key>textColor</key>
		<string>defaultCellMainText_color</string>
	</dict>
	<key>**************联系人：联系人详情detail**************</key>
	<string></string>
	<key>ContactBasicInfoView_style</key>
	<dict>
		<key>jotTitle_textColor</key>
		<string>tp_color_grey_450</string>
		<key>nameLabel_textColor</key>
		<string>tp_color_grey_800</string>
		<key>numberLabel_textColor</key>
		<string>defaultText_color</string>
	</dict>
	<key>ContactDetailTableView_style</key>
	<dict>
		<key>backgroundColor</key>
		<string>clearColor</string>
		<key>seperatorColor</key>
		<string>defaultUITableViewSeperator_color</string>
	</dict>
	<key>ContactItemCell_style</key>
	<dict>
		<key>backgroundColor</key>
		<string>tp_color_white</string>
		<key>checkedImage</key>
		<string>login_checked@2x.png</string>
		<key>subtitleLabel_backgroundColor</key>
		<string>clearColor</string>
		<key>subtitleLabel_textColor</key>
		<string>defaultCellDetailText_color</string>
		<key>titleLabel_backgroundColor</key>
		<string>clearColor</string>
		<key>titleLabel_textColor</key>
		<string>defaultCellMainText_color</string>
		<key>uncheckedImage</key>
		<string>login_uncheck@2x.png</string>
	</dict>
	<key>defaultDetailSwitchButtonText_color</key>
	<string>tp_color_white</string>
	<key>DetailInfoCell_style</key>
	<dict>
		<key>backgroundColor</key>
		<string>tp_color_white</string>
		<key>infoTextLabel_textColor</key>
		<string>defaultCellDetailText_color</string>
		<key>mainTextLabel_textColor</key>
		<string>defaultCellMainText_color</string>
		<key>sns_icon_img_normal</key>
		<string>detailbtn_sms_normal@2x.png</string>
		<key>sns_icon_img_pressed</key>
		<string>detailbtn_sms_pressed@2x.png</string>
	</dict>
	<key>DetailShortcutCell_style</key>
	<dict>
		<key>backgroundColor</key>
		<string>tp_color_white</string>
		<key>backgroundColor_hl</key>
		<string>defaultCellSelected_color</string>
		<key>buttonBorderColor</key>
		<string>defaultUITableViewSeperator_color</string>
		<key>buttonTextColor</key>
		<string>tp_color_grey_800</string>
		<key>buttonTextDisableColor</key>
		<string>tp_color_grey_150</string>
	</dict>
	<key>DetailView_facetimeTPHeaderButton_style</key>
	<dict>
		<key>imageForStateNormal</key>
		<string>facetime_icon@2x.png</string>
	</dict>
	<key>UnknownContactInfoViewController_style</key>
	<dict>
		<key>backgroundColor</key>
		<string>tp_color_grey_50</string>
		<key>tableView_style</key>
		<string>ContactDetailTableView_style</string>
	</dict>
	<key>UnknownContactActionCell_style</key>
	<dict>
		<key>backgroundColor</key>
		<string>tp_color_white</string>
		<key>textColor</key>
		<string>defaultCellMainText_color</string>
	</dict>
	<key>KnownContactInforViewController_style</key>
	<dict>
		<key>backgroundColor</key>
		<string>tp_color_grey_50</string>
		<key>tableView_style</key>
		<string>ContactDetailTableView_style</string>
	</dict>
	<key>CallHistoryView_style</key>
	<dict>
		<key>tableView_style</key>
		<string>ContactDetailTableView_style</string>
	</dict>
	<key>CallHistoryCellView_style</key>
	<dict>
		<key>backgroundColor</key>
		<string>tp_color_white</string>
		<key>carrier_label_textColor</key>
		<string>defaultCellDetailText_color</string>
		<key>clear_button_textColor</key>
		<string>tp_color_red_500</string>
		<key>number_label_textColor</key>
		<string>defaultCellDetailText_color</string>
		<key>time_label_textColor</key>
		<string>defaultCellMainText_color</string>
	</dict>
	<key>CallHistoryEmptyText_color</key>
	<string>RankEmptyReminderView_reminderLabelText_color</string>
	<key>contact_note_text_color</key>
	<string>tp_color_grey_800</string>
	<key>contactNoteText_border_color</key>
	<string>tp_color_grey_200</string>
	<key>**************personalCenter-个人中心**************</key>
	<string></string>
	<key>**************个人中心：主界面**************</key>
	<string></string>
	<key>personal_center_func_alt_text_color</key>
	<string>tp_color_grey_400</string>
	<key>personal_center_setting_bg_color</key>
	<string>tp_color_black_transparency_100</string>
	<key>personal_center_wallet_icon_color</key>
	<string>0xef5344</string>
	<key>**************个人中心：选择头像弹框**************</key>
	<string></string>
	<key>personal_center_photo_choose_bg_color</key>
	<string>tp_color_white</string>
	<key>personal_center_photo_choose_title_color</key>
	<string>tp_color_grey_800</string>
	<key>**************gesture-手势拨号**************</key>
	<string></string>
	<key>**************手势拨号：拨号盘**************</key>
	<string></string>
	<key>gesturePad_style</key>
	<dict>
		<key>backgroundColor</key>
		<string>tp_color_white_transparency_500</string>
		<key>gestureColor</key>
		<string>tp_color_light_blue_500</string>
	</dict>
	<key>dialerView_gestureUnRecognizerBar_style</key>
	<dict>
		<key>GestureUnRecognizerBarText_color</key>
		<string>tp_color_grey_800</string>
		<key>backgroundImage</key>
		<string>gesture_optional_btn_bg@2x.png</string>
	</dict>
	<key>**************手势拨号：手势拨号主页**************</key>
	<string></string>
	<key>GestureEditViewController_addGestureButtonText_color</key>
	<string>tp_color_black_transparency_900</string>
	<key>GestureEditViewController_gestureNameButtonText_color</key>
	<string>tp_color_black_transparency_500</string>
	<key>GestureSettingSwitchLine_color</key>
	<string>tp_color_grey_150</string>
	<key>GestureEditViewController_alpha_Text_color</key>
	<string>tp_color_grey_200</string>
	<key>GestureEditViewController_addcircle_disable_color</key>
	<string>tp_color_grey_100</string>
	<key>GestureEditViewController_addcircle_normal_color</key>
	<string>tp_color_grey_150</string>
	<key>**************手势拨号：添加手势（部分文字颜色与上面主页共用）**************</key>
	<string></string>
	<key>GestureChangePersonLabel_text_color</key>
	<string>defaultText_color</string>
	<key>GestureEditViewValidateLabel_text_color</key>
	<string>tp_color_blue_500</string>
	<key>gestureDrawBoard_LabelText_color</key>
	<string>tp_color_blue_grey_300</string>
	<key>gestureDrawBoard_stroke_color</key>
	<string>tp_color_blue_500</string>
	<key>GestureActionPickerViewController_style</key>
	<dict>
		<key>tableView_style</key>
		<string>ContactDetailTableView_style</string>
		<key>cell_textColor</key>
		<string>defaultCellMainText_color</string>
	</dict>
	<key>gestureActionPickerView_labelText_color</key>
	<string>tp_color_blue_grey_100</string>
	<key>**************skin-自定义主题**************</key>
	<string></string>
	<key>**************自定义主题：我的主题**************</key>
	<string></string>
	<key>theme_headtabbar_style</key>
	<dict>
		<key>backgroundColor</key>
		<string>clearColor</string>
		<key>fisrtTabButton_backgroundImage</key>
		<string>Theme_tab_left_normal@2x.png</string>
		<key>firstTabButton_backgroundImage_ht</key>
		<string>Theme_tab_left_press@2x.png</string>
		<key>lastTabButton_backgroundImage</key>
		<string>Theme_tab_right_normal@2x.png</string>
		<key>lastTabButton_backgroundImage_ht</key>
		<string>Theme_tab_right_press@2x.png</string>
		<key>textColor</key>
		<string>tp_color_light_blue_500</string>
		<key>selectedButtonColor</key>
		<string>tp_color_light_blue_500</string>
		<key>unselectedButtonColor</key>
		<string>tp_color_white</string>
	</dict>
	<key>**************自定义主题：在线主题**************</key>
	<string></string>
	<key>remoteSkinItemView_progressTint_color</key>
	<string>tp_color_blue_600</string>
	<key>remoteSkinItemView_trackTint_color</key>
	<string>tp_color_grey_200</string>
	<key>**************setting-设置**************</key>
	<string></string>
	<key>**************设置：设置界面**************</key>
	<string></string>
	<key>settings_section_header_text_color</key>
	<string>tp_color_blue_grey_400</string>
	<key>generalSettingCell_Background_color</key>
	<string>tp_color_white</string>
	<key>generalSettingCell_Background_ht_color</key>
	<string>tp_color_grey_100</string>
	<key>generalSettingCell_MainText_color</key>
	<string>defaultCellMainText_color</string>
	<key>generalSettingCell_infoText_color</key>
	<string>tp_color_black_transparency_300</string>
	<key>**************设置：IP拨号选择国家地域**************</key>
	<string></string>
	<key>SelectCountryViewController_background_color</key>
	<string>defaultBackground_color</string>
	<key>SelectCountryViewController_moreCountryButtonText_color</key>
	<string>defaultText_color</string>
	<key>**************设置：关于界面**************</key>
	<string></string>
	<key>url_title_normal_color</key>
	<string>tp_color_grey_400</string>
	<key>url_normal_color</key>
	<string>tp_color_light_blue_500</string>
	<key>url_ht_color</key>
	<string>tp_color_light_blue_600</string>
	<key>**************pop-弹框**************</key>
	<string></string>
	<key>**************弹框：IP拨号选择**************</key>
	<string></string>
	<key>PopUpSheetCellDetailLabel_style</key>
	<dict>
		<key>backgroundColor_color</key>
		<string>clearColor</string>
		<key>textColor_color</key>
		<string>defaultCellDetailText_color</string>
	</dict>
	<key>PopUpSheetCellLabel_style</key>
	<dict>
		<key>backgroundColor_color</key>
		<string>clearColor</string>
		<key>textColor_color</key>
		<string>tp_color_grey_800</string>
	</dict>
	<key>PopUpSheetTitleLabel_style</key>
	<dict>
		<key>backgroundColor_color</key>
		<string>clearColor</string>
		<key>textColor_color</key>
		<string>tp_color_grey_800</string>
	</dict>
	<key>**************弹框：免费电话拨号选择**************</key>
	<string></string>
	<key>voip_normalCall_button_onClick_bg_image</key>
	<string>tp_color_blue_700</string>
	<key>voip_normalCall_button_normal_bg_image</key>
	<string>tp_color_blue_500</string>
	<key>voip_freeCall_button_bg_image</key>
	<string>tp_color_green_500</string>
	<key>voip_freeCall_button_bg_disable_image</key>
	<string>tp_color_grey_200</string>
	<key>voip_freeCall_button_bg_highlight_image</key>
	<string>tp_color_green_700</string>
	<key>**************弹框：分享弹框**************</key>
	<string></string>
	<key>voip_shareview_cancel_button_normal_image</key>
	<string>tp_color_white_transparency_0</string>
	<key>voip_shareview_cancel_button_hl_image</key>
	<string>tp_color_black_transparency_100</string>
	<key>**************弹框：新建分组弹框（带输入框）**************</key>
	<string></string>
	<key>**************弹框：警告弹框（文本、多按钮、选择框，主要用于信息提示）**************</key>
	<string></string>
	<key>common_popup_button_disabled_text_color</key>
	<string>tp_color_grey_350</string>
	<key>common_popup_button_text_color</key>
	<string>tp_color_grey_800</string>
	<key>common_popup_shareToSinaText_color</key>
	<string>tp_color_grey_350</string>
	<key>common_popup_text_color</key>
	<string>tp_color_grey_750</string>
	<key>popup_bg_color</key>
	<string>tp_color_white</string>
	<key>-------------------不清楚是否可以删掉的区域反正上面没用到过-------------------</key>
	<string></string>
	<key>CustomMenuView_background_color</key>
	<string>0x1E2A36</string>
	<key>CustomMenuView_text_color</key>
	<string>0x97ABBA</string>
	<key>CustomMenuView_texthg_color</key>
	<string>0x72AAEA</string>
	<key>InitSmartSettingViewController_headerTitle_color</key>
	<string>defaultText_color</string>
	<key>MembersViewController_selectAllButton_normal_image</key>
	<string>common_select_small_normal@2x.png</string>
	<key>MembersViewController_selectAllButton_pressed_image</key>
	<string>common_select_small_press@2x.png</string>
	<key>MembersViewController_tableHeaderView_textLabel_style</key>
	<dict>
		<key>backgroundColor_color</key>
		<string>clearColor</string>
		<key>textColor_color</key>
		<string>UITableViewSectionHeaderText_color</string>
	</dict>
	<key>MemebersViewController_table_style</key>
	<dict>
		<key>backgroundColor</key>
		<string>tp_color_white</string>
		<key>seperatorColor</key>
		<string>defaultUITableViewSeperator_color</string>
	</dict>
	<key>SmartEyeHightLabelText_color</key>
	<string>tp_color_white</string>
	<key>SmartRuleView_instructLabel_style</key>
	<dict>
		<key>backgroundColor_color</key>
		<string>clearColor</string>
		<key>textColor_color</key>
		<string>tp_color_grey_750</string>
	</dict>
	<key>SmartRuleView_reminderLabel_style</key>
	<dict>
		<key>backgroundColor_color</key>
		<string>clearColor</string>
		<key>textColor_color</key>
		<string>0x848282</string>
	</dict>
	<key>SmartRuleView_smartRuleTabelCellDetailText_color</key>
	<string>0x828282</string>
	<key>SmartRuleView_smartRuleTabelCellText_color</key>
	<string>tp_color_grey_750</string>
	<key>gradienViewToBottom_start_color</key>
	<string>0xFF000000</string>
	<key>gradienViewToBottom_end_color</key>
	<string>0x35445c</string>
	<key>featureGuideTips_background_color</key>
	<string>0x0c1119</string>
	<key>addShopCellText_color</key>
	<string>0xCDB86E</string>
	<key>configuredNavbarHeader_color</key>
	<string>tp_color_black</string>
	<key>dailer_SearchHintView_style</key>
	<dict>
		<key>backgroundColor</key>
		<string>clearColor</string>
		<key>dotLine_image</key>
		<string>invite_contact_line@2x.png</string>
		<key>sheet_back_image</key>
		<string>dailer_tip_button_bg_normal@2x.png</string>
		<key>textColor</key>
		<string>defaultCellMainText_color</string>
	</dict>
	<key>defaultTPItemButton_style</key>
	<dict>
		<key>backgroundImage</key>
		<string>news_profile_btn_normal@2x.png</string>
		<key>backgroundImage_ht</key>
		<string>news_profile_btn_press@2x.png</string>
		<key>textColor</key>
		<string>defaultText_color</string>
	</dict>
	<key>defaultTPUIButton_style</key>
	<dict>
		<key>backgroundColor</key>
		<string>tp_color_black</string>
		<key>backgroundImage</key>
		<string>common_rule_list_cancel_button_ht@2x.png</string>
		<key>backgroundImage_ht</key>
		<string>common_rule_list_cancel_button@2x.png</string>
		<key>font</key>
		<string>118</string>
		<key>textColor</key>
		<string>defaultText_color</string>
		<key>toTop</key>
		<true/>
	</dict>
	<key>defaultUIView_style</key>
	<dict>
		<key>backgroundColor_color</key>
		<string>clearColor</string>
	</dict>
	<key>default_CallLogAddOnForSmartEyeView_style</key>
	<dict>
		<key>backgroundColor</key>
		<string>clearColor</string>
		<key>callerTypeLabel_background_color</key>
		<string>0xc88435</string>
		<key>callerTypeLabel_text_color</key>
		<string>SmartEyeHightLabelText_color</string>
		<key>callerTypeValidLabel_background_color</key>
		<string>0x63a03d</string>
		<key>callerTypeVipLabel_background_color</key>
		<string>0x4c8ad2</string>
	</dict>
	<key>dialerView_yellowPageGuideImage_patch_color</key>
	<string>0x30000000</string>
	<key>groupTableView_style</key>
	<dict>
		<key>backgroundColor</key>
		<string>defaultBackground_color</string>
		<key>seperatorColor</key>
		<string>clearColor</string>
	</dict>
	<key>menuEmailTPUIButton_style</key>
	<dict>
		<key>backgroundImage</key>
		<string>contact_menu_email@2x.png</string>
		<key>backgroundImage_ht</key>
		<string>contact_menu_email_hg@2x.png</string>
		<key>textColor</key>
		<string>CustomMenuView_text_color</string>
		<key>textColor_ht</key>
		<string>CustomMenuView_texthg_color</string>
	</dict>
	<key>FavoriteViewController_FavPerson_addOnBackground_color</key>
	<string>0x8035445c</string>
	<key>FavoriteViewController_FavPerson_addOnText_color</key>
	<string>defaultText_color</string>
	<key>noFavorHint_style</key>
	<dict>
		<key>hintImage</key>
		<string>favourite_none_pic@2x.png</string>
	</dict>
	<key>menuFavoriteTPUIButton_style</key>
	<dict>
		<key>backgroundImage</key>
		<string>contact_menu_favorite@2x.png</string>
		<key>backgroundImage_ht</key>
		<string>contact_menu_favorite_hg@2x.png</string>
		<key>textColor</key>
		<string>CustomMenuView_text_color</string>
		<key>textColor_ht</key>
		<string>CustomMenuView_texthg_color</string>
	</dict>
	<key>menuMoveTPUIButton_style</key>
	<dict>
		<key>backgroundImage</key>
		<string>contact_menu_move@2x.png</string>
		<key>backgroundImage_ht</key>
		<string>contact_menu_move_hg@2x.png</string>
		<key>textColor</key>
		<string>CustomMenuView_text_color</string>
		<key>textColor_ht</key>
		<string>CustomMenuView_texthg_color</string>
	</dict>
	<key>menuRemoveTPUIButton_style</key>
	<dict>
		<key>backgroundImage</key>
		<string>contact_menu_remove@2x.png</string>
		<key>backgroundImage_ht</key>
		<string>contact_menu_remove_hg@2x.png</string>
		<key>textColor</key>
		<string>CustomMenuView_text_color</string>
		<key>textColor_ht</key>
		<string>CustomMenuView_texthg_color</string>
	</dict>
	<key>menuSmsTPUIButton_style</key>
	<dict>
		<key>backgroundImage</key>
		<string>contact_menu_sms@2x.png</string>
		<key>backgroundImage_ht</key>
		<string>contact_menu_sms_hg@2x.png</string>
		<key>textColor</key>
		<string>CustomMenuView_text_color</string>
		<key>textColor_ht</key>
		<string>CustomMenuView_texthg_color</string>
	</dict>
	<key>pageControllerNormal_color</key>
	<string>tp_color_white</string>
	<key>pageControllerActive_color</key>
	<string>0x45b9ff</string>
	<key>yellow_page_reload_bg_color</key>
	<string>tp_color_white</string>
	<key>yellow_page_reload_text_color</key>
	<string>tp_color_grey_600</string>
	<key>yellow_page_reload_btn_bg_color</key>
	<string>0x6699ff</string>
	<key>yellow_page_reload_btn_text_color</key>
	<string>tp_color_white</string>
	<key>yellow_page_loading_text_color</key>
	<string>tp_color_grey_600</string>
	<key>---------------------------未皮肤化区域---------------------------</key>
	<string></string>
	<key>**************未皮肤化：免费电话**************</key>
	<string></string>
	<key>voip_top_view_green_bg_color</key>
	<string>tp_color_green_500</string>
	<key>voip_middleView_outCircle_bg_color</key>
	<string>tp_color_white_transparency_50</string>
	<key>voip_middleView_middleCircle_bg_color</key>
	<string>tp_color_white_transparency_150</string>
	<key>voip_middleView_innerCircle_bg_color</key>
	<string>tp_color_white</string>
	<key>voip_callback_wizard_ok_color</key>
	<string>tp_color_white</string>
	<key>voip_callback_wizard_circle_bg_color</key>
	<string>tp_color_blue_500</string>
	<key>voip_callback_wizard_highlight_bg_image</key>
	<string>tp_color_blue_700</string>
	<key>voip_callback_wizard_normal_bg_image</key>
	<string>tp_color_blue_500</string>
	<key>voip_callback_wizard_bg_color</key>
	<string>tp_color_grey_800</string>
	<key>voip_callback_wizard_title_text_color</key>
	<string>tp_color_light_blue_500</string>
	<key>voip_callback_wizard_hint_color</key>
	<string>tp_color_grey_400</string>
	<key>voip_callback_wizard_hint_highlight_color</key>
	<string>tp_color_yellow_600</string>
	<key>voip_bottomView_bg_color</key>
	<string>tp_color_black_transparency_200</string>
	<key>voip_bottomView_text_color</key>
	<string>tp_color_white</string>
	<key>voip_middle_bar_text_color</key>
	<string>tp_color_grey_600</string>
	<key>voip_sure_button_text_color</key>
	<string>tp_color_green_700</string>
	<key>voip_sure_button_text_disable_color</key>
	<string>tp_color_grey_400</string>
	<key>voip_sure_button_onClick_bg_image</key>
	<string>tp_color_green_700</string>
	<key>voip_sure_button_normal_bg_image</key>
	<string>tp_color_green_700</string>
	<key>voip_sure_button_disable_bg_image</key>
	<string>tp_color_grey_200</string>
	<key>voip_sure_button_border_color</key>
	<string>tp_color_green_700</string>
	<key>voip_sure_button_border_disable_color</key>
	<string>tp_color_grey_200</string>
	<key>voip_verify_subButton_text_color</key>
	<string>tp_color_blue_300</string>
	<key>voip_textfield_text_color</key>
	<string>tp_color_grey_800</string>
	<key>voip_textfield_border_color</key>
	<string>tp_color_grey_100</string>
	<key>voip_textfiled_placeholder_color</key>
	<string>tp_color_grey_400</string>
	<key>voip_mainLabel_text_color</key>
	<string>tp_color_grey_800</string>
	<key>voip_subLabel_text_color</key>
	<string>tp_color_grey_400</string>
	<key>voip_cancellbutton_normal_color</key>
	<string>tp_color_grey_400</string>
	<key>voip_cancellbutton_2_normal_color</key>
	<string>tp_color_grey_600</string>
	<key>voip_normalbutton_normal_color</key>
	<string>tp_color_grey_800</string>
	<key>voip_normalbutton_disable_color</key>
	<string>tp_color_grey_400</string>
	<key>voip_callpopupview_button_normal_image</key>
	<string>tp_color_green_700</string>
	<key>voip_freeLabel_text_color</key>
	<string>tp_color_light_blue_600</string>
	<key>voip_line_color</key>
	<string>tp_color_grey_100</string>
	<key>voip_alert_view_text_color</key>
	<string>tp_color_red_600</string>
	<key>voip_alert_view_ok_text_color</key>
	<string>tp_color_green_700</string>
	<key>voip_editView_inviteFriendButton_color</key>
	<string>tp_color_orange_500</string>
	<key>outgoing_circle_inner_color</key>
	<string>tp_color_white</string>
	<key>outgoing_button_highlight_color</key>
	<string>tp_color_white</string>
	<key>outgoing_button_normal_color</key>
	<string>tp_color_black_transparency_150</string>
	<key>outgoing_circle_error_color</key>
	<string>tp_color_red_600</string>
	<key>outgoing_circle_minutes_color</key>
	<string>tp_color_green_600</string>
	<key>outgoing_button_invite_color</key>
	<string>0x4cff9b35</string>
	<key>outgoing_button_invite_h_color</key>
	<string>0x4cde8500</string>
	<key>voip_callalert_button_normal_color</key>
	<string>tp_color_light_blue_600</string>
	<key>**************未皮肤化：免费流量**************</key>
	<string></string>
	<key>stream_timelabel_text_color</key>
	<string>tp_color_grey_200</string>
	<key>stream_mainlabel_text_color</key>
	<string>tp_color_grey_400</string>
	<key>stream_mainlabel_first_color</key>
	<string>tp_color_grey_800</string>
	<key>stream_mainlabel_second_color</key>
	<string>tp_color_green_700</string>
	<key>stream_mainlabel_third_color</key>
	<string>tp_color_orange_500</string>
	<key>voip_share_button_hightlight_image</key>
	<string>tp_color_green_900</string>
	<key>voip_shareView_button1_normal_image</key>
	<string>tp_color_green_500</string>
	<key>voip_shareView_button1_highlight_image</key>
	<string>tp_color_green_700</string>
	<key>voip_shareView_button2_normal_image</key>
	<string>tp_color_blue_400</string>
	<key>voip_shareView_button2_highlight_image</key>
	<string>tp_color_blue_600</string>
	<key>voip_shareView_button3_normal_image</key>
	<string>tp_color_green_400</string>
	<key>voip_shareView_button3_highlight_image</key>
	<string>tp_color_green_600</string>
	<key>flow_topSection_bg_color</key>
	<string>tp_color_orange_500</string>
	<key>flow_wavewater_color</key>
	<string>tp_color_white_transparency_200</string>
	<key>flow_business_label1_color</key>
	<string>tp_color_grey_600</string>
	<key>flow_business_label2_color</key>
	<string>tp_color_grey_400</string>
	<key>stream_line_color</key>
	<string>tp_color_grey_200</string>
	<key>**************未皮肤化：登录界面**************</key>
	<string></string>
	<key>login_askcode_button_color</key>
	<string>tp_color_green_500</string>
	<key>login_askcode_button_ht_color</key>
	<string>tp_color_green_700</string>
	<key>login_askcode_button_disable_color</key>
	<string>tp_color_green_50</string>
	<key>login_askcode_video_color</key>
	<string>tp_color_light_blue_500</string>
	<key>login_askcode_video_ht_color</key>
	<string>tp_color_grey_400</string>
	<key>login_submit_button_title_normal_color</key>
	<string>tp_color_white</string>
	<key>login_submit_button_title_disable_color</key>
	<string>tp_color_white_transparency_500</string>
	<key>login_submit_button_color</key>
	<string>tp_color_light_blue_500</string>
	<key>login_submit_button_ht_color</key>
	<string>tp_color_light_blue_600</string>
	<key>login_submit_button_disable_color</key>
	<string>tp_color_blue_50</string>
	<key>login_label_error_color</key>
	<string>tp_color_red_500</string>
	<key>flow_inputname_view_title_color</key>
	<string>tp_color_orange_500</string>
	<key>flow_inputname_view_inputlabel_color</key>
	<string>tp_color_grey_800</string>
	<key>flow_inputname_view_button_normal_image</key>
	<string>tp_color_orange_500</string>
	<key>flow_inputname_view_button_hl_image</key>
	<string>tp_color_orange_700</string>
	<key>flow_inputname_view_button_disable_image</key>
	<string>tp_color_grey_400</string>
	<key>flow_inputname_view_excuselabel_color</key>
	<string>tp_color_grey_400</string>
	<key>flow_inputresult_view_excuselabel_color</key>
	<string>tp_color_orange_500</string>
	<key>flow_inputresult_view_excuselabel_error_color</key>
	<string>tp_color_red_500</string>
	<key>flow_inputresult_view_errorbutton_normal_image</key>
	<string>tp_color_blue_500</string>
	<key>flow_inputresult_view_errorbutton_normal_hl_image</key>
	<string>tp_color_blue_700</string>
	<key>voip_landline_addzoneView_textField_border_color</key>
	<string>tp_color_grey_650</string>
	<key>voip_landline_addzoneView_bg_color</key>
	<string>tp_color_grey_100</string>
	<key>voip_landline_addzoneView_button_border_color</key>
	<string>tp_color_grey_400</string>
	<key>voip_landline_addzoneView_button_normal_color</key>
	<string>tp_color_blue_500</string>
	<key>voip_landline_addzoneView_button_disable_color</key>
	<string>tp_color_blue_50</string>
	<key>voip_landline_addzoneView_textField_placeholder_color</key>
	<string>tp_color_grey_400</string>
	<key>**************友盟反馈**************</key>
	<string></string>
	<key>umeng_feedback_icon_layer_color</key>
	<string>tp_color_grey_100</string>
	<key>umeng_feedback_my_icon_bg_color</key>
	<string>tp_color_blue_500</string>
	<key>umeng_feedback_faq_background_color</key>
	<string>0xf7f7f7</string>
	<key>umeng_feedback_textfield_layer_color</key>
	<string>tp_color_grey_200</string>
	<key>umeng_feedback_question_layer_color</key>
	<string>tp_color_grey_150</string>
	<key>umeng_feedback_conversation_bg_color</key>
	<string>tp_color_grey_50</string>
	<key>umeng_feedback_faq_righticon_style</key>
	<dict>
		<key>backgroundColor</key>
		<string>clearColor</string>
		<key>textColor</key>
		<string>defaultTextBlack_color</string>
	</dict>
	<key>green_1_color</key>
	<string>tp_color_green_500</string>
	<key>flow_wechatSharePic_title_color</key>
	<string>tp_color_deep_orange_800</string>
	<key>feature_guide_pressed_bg_color</key>
	<string>tp_color_blue_50</string>
	<key>edit_voip_button_view_hl_buttom_image</key>
	<string>tp_color_green_400</string>
	<key>center_default_operate_bg_hl_image</key>
	<string>tp_color_black_transparency_100</string>
	<key>**************未皮肤化：颜色与按键**************</key>
	<string></string>
	<key>tp_button_highlight_color</key>
	<string>0xe5e5e5</string>
	<key>voip_call_popup_user_hint</key>
	<string>0x2999ee</string>
	<key>skin_horn_bg_color</key>
	<string>0x80333333</string>
	<key>**************TodayWidget颜色**************</key>
	<string></string>
	<key>today_widget_sign_label_color</key>
	<string>0x143d5d</string>
	<key>today_widget_sign_text_color</key>
	<string>0x56b3ff</string>
	<key>today_widget_third_view_bg_color</key>
	<string>0x1e5d8f</string>
	<key>**************StatusBar颜色***********</key>
	<string></string>
	<key>status_bar_title_color</key>
	<string>tp_color_white</string>
	<key>status_bar_background_color</key>
	<string>tp_color_green_500</string>
	<key>**************未皮肤化：奖励应用下载页面**************</key>
	<string></string>
	<key>download_app_button_nomorl_color</key>
	<string>tp_color_blue_500</string>
	<key>download_app_button_highlight_color</key>
	<string>0x8e8e8e</string>
	<key>download_app_success_bg_color</key>
	<string>0xf26c63</string>
	<key>download_app_fail_bg_color</key>
	<string>0x60677a</string>
	<key>download_app_getreward_success_bg_color</key>
	<string>0xfc7736</string>
	<key>download_app_getreward_fail_bg_color</key>
	<string>0x2a80b9</string>
	<key>**************挂断后红包*******</key>
	<string></string>
	<key>share_packet_version_1_board_color</key>
	<string>0xffffe7</string>
	<key>**************挂断后邀请*******</key>
	<string></string>
	<key>invite_share_label_highlighted_color</key>
	<string>0xffff2b</string>
	<key>**************v6皮肤制作修改区域**************</key>
	<string></string>
	<key>skinHeaderBarTitleText_color</key>
	<string>tp_color_white</string>
	<key>skinHeaderBarOperationText_normal_color</key>
	<string>tp_color_white</string>
	<key>skinHeaderBarOperationText_ht_color</key>
	<string>tp_color_white_transparency_300</string>
	<key>skinDefaultHighlightText_color</key>
	<string>tp_color_light_blue_500</string>
	<key>skinKeyboardInputHintText_color</key>
	<string>tp_color_grey_200</string>
	<key>skinKeyboardInputMainText_color</key>
	<string>tp_color_grey_900</string>
	<key>skinKeyboardInputMinorText_color</key>
	<string>tp_color_grey_400</string>
	<key>skinKeyboardMainText_color</key>
	<string>tp_color_grey_600</string>
	<key>skinKeyboardMinorText_color</key>
	<string>tp_color_grey_400</string>
	<key>skinKeyboardHighlightText_color</key>
	<string>tp_color_white</string>
	<key>skinPushMessageText_color</key>
	<string>tp_color_light_blue_500</string>
	<key>skinSearchResultBlankMainText_color</key>
	<string>tp_color_grey_800</string>
	<key>skinSearchResultBlankMinorText_color</key>
	<string>tp_color_grey_600</string>
	<key>skinSearchBarTextFieldBackground_color</key>
	<string>tp_color_white_transparency_900</string>
	<key>skinSearchBarHintText_color</key>
	<string>tp_color_light_blue_500</string>
	<key>skinSearchBarInputText_color</key>
	<string>tp_color_grey_900</string>
	<key>skinContactGroupSelectedText_color</key>
	<string>tp_color_white</string>
	<key>skinContactGroupUnSelectedText_color</key>
	<string>tp_color_white_transparency_800</string>
	<key>skinSectionIndexCharacterText_color</key>
	<string>tp_color_light_blue_500</string>
	<key>skinSectionIndexPopupBackground_color</key>
	<string>tp_color_light_blue_200</string>
	<key>skinSectionIndexPopupText_color</key>
	<string>tp_color_white</string>
	<key>skinContactDefaultPhotoBackground_color</key>
	<string>tp_color_grey_150</string>
	<key>skinGestureDrawBoard_BackgroundColor</key>
	<string>tp_color_white_transparency_700</string>
	<key>skinGestureDrawBoardStroke_color</key>
	<string>tp_color_light_blue_500</string>
	<key>skinGestureOperation_text_color</key>
	<string>tp_color_grey_800</string>
	<key>skinGestureOperation_line_color</key>
	<string>tp_color_black_transparency_150</string>
</dict>
</plist>
