<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>10000</key><string>中国电信客服</string>
	<key>10001</key><string>中国电信客服</string>
	<key>10010</key><string>中国联通客服</string>
	<key>10011</key><string>中国联通充值</string>
	<key>10015</key><string>中国联通投诉</string>
	<key>10016</key><string>中国联通电话营销专线</string>
	<key>10018</key><string>中国联通VIP客服</string>
	<key>10019</key><string>中国联通集团客服</string>
	<key>10050</key><string>中国铁通客服</string>
	<key>10060</key><string>中国联通充值</string>
	<key>10070</key><string>中国卫通客服</string>
	<key>10086</key><string>中国移动客服</string>
	<key>10105858</key><string>上海航空服务热线</string>
	<key>1013088</key><string>中国联通充值</string>
	<key>1013089</key><string>中国联通话费查询</string>
	<key>110</key><string>匪警</string>
	<key>11185</key><string>中国邮政EMS</string>
	<key>112</key><string>电话故障报修</string>
	<key>114</key><string>查号台</string>
	<key>116114</key><string>联通电话导航</string>
	<key>118114</key><string>电信号码百事通</string>
	<key>11888</key><string>中国电信充值</string>
	<key>119</key><string>火警</string>
	<key>120</key><string>急救中心</string>
	<key>12110</key><string>公安短信报警</string>
	<key>12117</key><string>报时服务</string>
	<key>12119</key><string>森林火警</string>
	<key>12121</key><string>天气预报</string>
	<key>122</key><string>交通事故报警</string>
	<key>12306</key><string>铁路客服</string>
	<key>12309</key><string>检查机关举报电话</string>
	<key>12310</key><string>机构编制违规举报</string>
	<key>12312</key><string>保护知识产权举报</string>
	<key>12315</key><string>消费者投诉</string>
	<key>12318</key><string>文化市场综合执法</string>
	<key>12319</key><string>城建服务</string>
	<key>12320</key><string>公共卫生公益热线</string>
	<key>12321</key><string>不良信息举报中心</string>
	<key>12333</key><string>民工维权热线电话</string>
	<key>12336</key><string>国土资源违法举报</string>
	<key>12345</key><string>非紧急救助服务中心</string>
	<key>12348</key><string>法律服务</string>
	<key>12358</key><string>价格举报</string>
	<key>12355</key><string>青少年服务热线</string>
	<key>12365</key><string>质量监督</string>
	<key>12366</key><string>纳税服务热线</string>
	<key>12369</key><string>环保投诉</string>
	<key>12380</key><string>中共组织部举报</string>
	<key>12388</key><string>全国纪检监察举报</string>
	<key>12395</key><string>水上遇险求救电话</string>
	<key>12580</key><string>移动综合信息服务</string>
	<key>95080</key><string>深圳航空服务热线</string>
	<key>95500</key><string>太平洋保险</string>
	<key>95501</key><string>深圳发展银行</string>
	<key>95502</key><string>永安财险</string>
	<key>95505</key><string>天安保险</string>
	<key>95508</key><string>广东发展银行</string>
	<key>95509</key><string>华泰财产保险</string>
	<key>95510</key><string>阳光保险</string>
	<key>95511</key><string>中国平安</string>
	<key>95515</key><string>合众人寿</string>
	<key>95516</key><string>中国银联</string>
	<key>95518</key><string>中国人保</string>
	<key>95519</key><string>中国人寿</string>
	<key>95522</key><string>泰康人寿</string>
	<key>95527</key><string>浙商银行</string>
	<key>95528</key><string>浦东发展银行</string>
	<key>95530</key><string>东方航空服务热线</string>
	<key>95533</key><string>建设银行</string>
	<key>95539</key><string>南航销售服务热线</string>
	<key>95555</key><string>招商银行</string>
	<key>95556</key><string>华安财产保险</string>
	<key>95557</key><string>厦门航空客服热线</string>
	<key>95558</key><string>中信银行</string>
	<key>95559</key><string>交通银行</string>
	<key>95561</key><string>兴业银行</string>
	<key>95566</key><string>中国银行</string>
	<key>95567</key><string>新华人寿</string>
	<key>95568</key><string>民生银行</string>
	<key>95569</key><string>安邦保险</string>
	<key>95572</key><string>中铁快运</string>
	<key>95577</key><string>华夏银行</string>
	<key>95580</key><string>邮政储蓄</string>
	<key>95585</key><string>中华联合财险</string>
	<key>95588</key><string>工商银行</string>
	<key>95589</key><string>太平人寿</string>
	<key>95590</key><string>大地保险</string>
	<key>95595</key><string>光大银行</string>
	<key>95596</key><string>民生人寿</string>
	<key>95598</key><string>供电服务</string>
	<key>95599</key><string>农业银行</string>
	<key>95808</key><string>东方航空旅客投诉</string>
	<key>95911</key><string>森林火警</string>
	<key>96100</key><string>民政服务</string>
	<key>96102</key><string>社保热线</string>
	<key>96103</key><string>北京出租车叫车电话</string>
	<key>96118</key><string>旅游投诉</string>
	<key>96156</key><string>社区公共服务热线</string>
	<key>96178</key><string>廉政投诉</string>
	<key>96189</key><string>北京农村商业银行</string>
	<key>96351</key><string>消费咨询投诉</string>
	<key>962888</key><string>上海银行</string>
	<key>96310</key><string>城管执法</string>
	<key>96588</key><string>徽商银行</string>
	<key>96822</key><string>上海大众叫车电话</string>
</dict>
</plist>
