<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>part</key>
	<dict>
		<key>cn</key>
		<dict>
			<key>code</key>
			<string>86</string>
			<key>name</key>
			<string>中國</string>
		</dict>
		<key>ca</key>
		<dict>
			<key>code</key>
			<string>1</string>
			<key>name</key>
			<string>加拿大</string>
		</dict>
		<key>us</key>
		<dict>
			<key>code</key>
			<string>1</string>
			<key>name</key>
			<string>美國</string>
		</dict>
		<key>hk</key>
		<dict>
			<key>code</key>
			<string>852</string>
			<key>name</key>
			<string>香港</string>
		</dict>
		<key>tw</key>
		<dict>
			<key>code</key>
			<string>886</string>
			<key>name</key>
			<string>台灣</string>
		</dict>
		<key>gb</key>
		<dict>
			<key>code</key>
			<string>44</string>
			<key>name</key>
			<string>英國</string>
		</dict>
		<key>fr</key>
		<dict>
			<key>code</key>
			<string>33</string>
			<key>name</key>
			<string>法國</string>
		</dict>
		<key>de</key>
		<dict>
			<key>code</key>
			<string>49</string>
			<key>name</key>
			<string>德國</string>
		</dict>
		<key>se</key>
		<dict>
			<key>code</key>
			<string>46</string>
			<key>name</key>
			<string>瑞典</string>
		</dict>
		<key>dk</key>
		<dict>
			<key>code</key>
			<string>45</string>
			<key>name</key>
			<string>丹麥</string>
		</dict>
		<key>es</key>
		<dict>
			<key>code</key>
			<string>34</string>
			<key>name</key>
			<string>西班牙</string>
		</dict>
		<key>pt</key>
		<dict>
			<key>code</key>
			<string>351</string>
			<key>name</key>
			<string>葡萄牙</string>
		</dict>
		<key>gr</key>
		<dict>
			<key>code</key>
			<string>30</string>
			<key>name</key>
			<string>希臘</string>
		</dict>
		<key>tr</key>
		<dict>
			<key>code</key>
			<string>90</string>
			<key>name</key>
			<string>土耳其</string>
		</dict>
	</dict>
	<key>all</key>
	<dict>
		<key>ao</key>
		<dict>
			<key>code</key>
			<string>244</string>
			<key>name</key>
			<string>安哥拉</string>
		</dict>
		<key>af</key>
		<dict>
			<key>code</key>
			<string>93</string>
			<key>name</key>
			<string>阿富汗</string>
		</dict>
		<key>al</key>
		<dict>
			<key>code</key>
			<string>355</string>
			<key>name</key>
			<string>阿爾巴尼亞
			</string>
		</dict>
		<key>dz</key>
		<dict>
			<key>code</key>
			<string>213</string>
			<key>name</key>
			<string>阿爾及利亞</string>
		</dict>
		<key>ad</key>
		<dict>
			<key>code</key>
			<string>376</string>
			<key>name</key>
			<string>安道爾</string>
		</dict>
		<key>ai</key>
		<dict>
			<key>code</key>
			<string>1264</string>
			<key>name</key>
			<string>安圭拉</string>
		</dict>
		<key>ag</key>
		<dict>
			<key>code</key>
			<string>1268</string>
			<key>name</key>
			<string>安地卡及巴布達</string>
		</dict>
		<key>ar</key>
		<dict>
			<key>code</key>
			<string>54</string>
			<key>name</key>
			<string>阿根廷</string>
		</dict>
		<key>am</key>
		<dict>
			<key>code</key>
			<string>374</string>
			<key>name</key>
			<string>亞美尼亞</string>
		</dict>
		<key>au</key>
		<dict>
			<key>code</key>
			<string>61</string>
			<key>name</key>
			<string>澳大利亞</string>
		</dict>
		<key>at</key>
		<dict>
			<key>code</key>
			<string>43</string>
			<key>name</key>
			<string>奧地利</string>
		</dict>
		<key>az</key>
		<dict>
			<key>code</key>
			<string>994</string>
			<key>name</key>
			<string>亞塞拜然</string>
		</dict>
		<key>bs</key>
		<dict>
			<key>code</key>
			<string>1242</string>
			<key>name</key>
			<string>巴哈馬</string>
		</dict>
		<key>bh</key>
		<dict>
			<key>code</key>
			<string>973</string>
			<key>name</key>
			<string>巴林</string>
		</dict>
		<key>bd</key>
		<dict>
			<key>code</key>
			<string>880</string>
			<key>name</key>
			<string>孟加拉國</string>
		</dict>
		<key>bb</key>
		<dict>
			<key>code</key>
			<string>1246</string>
			<key>name</key>
			<string>巴貝多</string>
		</dict>
		<key>by</key>
		<dict>
			<key>code</key>
			<string>375</string>
			<key>name</key>
			<string>白俄羅斯</string>
		</dict>
		<key>be</key>
		<dict>
			<key>code</key>
			<string>32</string>
			<key>name</key>
			<string>比利時</string>
		</dict>
		<key>bz</key>
		<dict>
			<key>code</key>
			<string>501</string>
			<key>name</key>
			<string>貝里斯</string>
		</dict>
		<key>bj</key>
		<dict>
			<key>code</key>
			<string>229</string>
			<key>name</key>
			<string>貝南</string>
		</dict>
		<key>bm</key>
		<dict>
			<key>code</key>
			<string>1441</string>
			<key>name</key>
			<string>百慕大群島</string>
		</dict>
		<key>bo</key>
		<dict>
			<key>code</key>
			<string>591</string>
			<key>name</key>
			<string>玻利維亞</string>
		</dict>
		<key>bw</key>
		<dict>
			<key>code</key>
			<string>267</string>
			<key>name</key>
			<string>波札那</string>
		</dict>
		<key>br</key>
		<dict>
			<key>code</key>
			<string>55</string>
			<key>name</key>
			<string>巴西</string>
		</dict>
		<key>bn</key>
		<dict>
			<key>code</key>
			<string>673</string>
			<key>name</key>
			<string>汶萊</string>
		</dict>
		<key>bg</key>
		<dict>
			<key>code</key>
			<string>359</string>
			<key>name</key>
			<string>保加利亞</string>
		</dict>
		<key>bf</key>
		<dict>
			<key>code</key>
			<string>226</string>
			<key>name</key>
			<string>布吉納法索</string>
		</dict>
		<key>mm</key>
		<dict>
			<key>code</key>
			<string>95</string>
			<key>name</key>
			<string>緬甸</string>
		</dict>
		<key>bi</key>
		<dict>
			<key>code</key>
			<string>257</string>
			<key>name</key>
			<string>布隆迪</string>
		</dict>
		<key>cm</key>
		<dict>
			<key>code</key>
			<string>237</string>
			<key>name</key>
			<string>喀麥隆</string>
		</dict>
		<key>ca</key>
		<dict>
			<key>code</key>
			<string>1</string>
			<key>name</key>
			<string>加拿大</string>
		</dict>
		<key>cf</key>
		<dict>
			<key>code</key>
			<string>236</string>
			<key>name</key>
			<string>中非共和國</string>
		</dict>
		<key>td</key>
		<dict>
			<key>code</key>
			<string>235</string>
			<key>name</key>
			<string>查德</string>
		</dict>
		<key>cl</key>
		<dict>
			<key>code</key>
			<string>56</string>
			<key>name</key>
			<string>智利</string>
		</dict>
		<key>cn</key>
		<dict>
			<key>code</key>
			<string>86</string>
			<key>name</key>
			<string>中國</string>
		</dict>
		<key>co</key>
		<dict>
			<key>code</key>
			<string>57</string>
			<key>name</key>
			<string>哥倫比亞</string>
		</dict>
		<key>cg</key>
		<dict>
			<key>code</key>
			<string>242</string>
			<key>name</key>
			<string>剛果</string>
		</dict>
		<key>ck</key>
		<dict>
			<key>code</key>
			<string>682</string>
			<key>name</key>
			<string>科克群島</string>
		</dict>
		<key>cr</key>
		<dict>
			<key>code</key>
			<string>506</string>
			<key>name</key>
			<string>哥斯大黎加</string>
		</dict>
		<key>cu</key>
		<dict>
			<key>code</key>
			<string>53</string>
			<key>name</key>
			<string>古巴</string>
		</dict>
		<key>cy</key>
		<dict>
			<key>code</key>
			<string>357</string>
			<key>name</key>
			<string>賽普勒斯</string>
		</dict>
		<key>cz</key>
		<dict>
			<key>code</key>
			<string>420</string>
			<key>name</key>
			<string>捷克共和國</string>
		</dict>
		<key>dk</key>
		<dict>
			<key>code</key>
			<string>45</string>
			<key>name</key>
			<string>丹麥</string>
		</dict>
		<key>dj</key>
		<dict>
			<key>code</key>
			<string>253</string>
			<key>name</key>
			<string>吉布地</string>
		</dict>
		<key>do</key>
		<dict>
			<key>code</key>
			<string>1890</string>
			<key>name</key>
			<string>多明尼加共和國</string>
		</dict>
		<key>ec</key>
		<dict>
			<key>code</key>
			<string>593</string>
			<key>name</key>
			<string>厄瓜多爾</string>
		</dict>
		<key>eg</key>
		<dict>
			<key>code</key>
			<string>20</string>
			<key>name</key>
			<string>埃及</string>
		</dict>
		<key>sv</key>
		<dict>
			<key>code</key>
			<string>503</string>
			<key>name</key>
			<string>薩爾瓦多</string>
		</dict>
		<key>ee</key>
		<dict>
			<key>code</key>
			<string>372</string>
			<key>name</key>
			<string>愛沙尼亞</string>
		</dict>
		<key>et</key>
		<dict>
			<key>code</key>
			<string>251</string>
			<key>name</key>
			<string>衣索比亞</string>
		</dict>
		<key>fj</key>
		<dict>
			<key>code</key>
			<string>679</string>
			<key>name</key>
			<string>斐濟</string>
		</dict>
		<key>fi</key>
		<dict>
			<key>code</key>
			<string>358</string>
			<key>name</key>
			<string>芬蘭</string>
		</dict>
		<key>fr</key>
		<dict>
			<key>code</key>
			<string>33</string>
			<key>name</key>
			<string>法國</string>
		</dict>
		<key>gf</key>
		<dict>
			<key>code</key>
			<string>594</string>
			<key>name</key>
			<string>法屬圭亞那</string>
		</dict>
		<key>ga</key>
		<dict>
			<key>code</key>
			<string>241</string>
			<key>name</key>
			<string>加蓬</string>
		</dict>
		<key>gm</key>
		<dict>
			<key>code</key>
			<string>220</string>
			<key>name</key>
			<string>甘比亞</string>
		</dict>
		<key>ge</key>
		<dict>
			<key>code</key>
			<string>995</string>
			<key>name</key>
			<string>格魯吉亞</string>
		</dict>
		<key>de</key>
		<dict>
			<key>code</key>
			<string>49</string>
			<key>name</key>
			<string>德國</string>
		</dict>
		<key>gh</key>
		<dict>
			<key>code</key>
			<string>233</string>
			<key>name</key>
			<string>迦納</string>
		</dict>
		<key>gi</key>
		<dict>
			<key>code</key>
			<string>350</string>
			<key>name</key>
			<string>直布羅陀</string>
		</dict>
		<key>gr</key>
		<dict>
			<key>code</key>
			<string>30</string>
			<key>name</key>
			<string>希臘</string>
		</dict>
		<key>gd</key>
		<dict>
			<key>code</key>
			<string>1809</string>
			<key>name</key>
			<string>格瑞那達</string>
		</dict>
		<key>gu</key>
		<dict>
			<key>code</key>
			<string>1671</string>
			<key>name</key>
			<string>關島</string>
		</dict>
		<key>gt</key>
		<dict>
			<key>code</key>
			<string>502</string>
			<key>name</key>
			<string>瓜地馬拉</string>
		</dict>
		<key>gn</key>
		<dict>
			<key>code</key>
			<string>224</string>
			<key>name</key>
			<string>幾內亞</string>
		</dict>
		<key>gy</key>
		<dict>
			<key>code</key>
			<string>592</string>
			<key>name</key>
			<string>圭亞那</string>
		</dict>
		<key>ht</key>
		<dict>
			<key>code</key>
			<string>509</string>
			<key>name</key>
			<string>海地</string>
		</dict>
		<key>hn</key>
		<dict>
			<key>code</key>
			<string>504</string>
			<key>name</key>
			<string>洪都拉斯</string>
		</dict>
		<key>hk</key>
		<dict>
			<key>code</key>
			<string>852</string>
			<key>name</key>
			<string>香港</string>
		</dict>
		<key>hu</key>
		<dict>
			<key>code</key>
			<string>36</string>
			<key>name</key>
			<string>匈牙利</string>
		</dict>
		<key>is</key>
		<dict>
			<key>code</key>
			<string>354</string>
			<key>name</key>
			<string>冰島</string>
		</dict>
		<key>in</key>
		<dict>
			<key>code</key>
			<string>91</string>
			<key>name</key>
			<string>印度</string>
		</dict>
		<key>id</key>
		<dict>
			<key>code</key>
			<string>62</string>
			<key>name</key>
			<string>印尼</string>
		</dict>
		<key>ir</key>
		<dict>
			<key>code</key>
			<string>98</string>
			<key>name</key>
			<string>伊朗</string>
		</dict>
		<key>iq</key>
		<dict>
			<key>code</key>
			<string>964</string>
			<key>name</key>
			<string>伊拉克</string>
		</dict>
		<key>ie</key>
		<dict>
			<key>code</key>
			<string>353</string>
			<key>name</key>
			<string>愛爾蘭</string>
		</dict>
		<key>il</key>
		<dict>
			<key>code</key>
			<string>972</string>
			<key>name</key>
			<string>以色列</string>
		</dict>
		<key>it</key>
		<dict>
			<key>code</key>
			<string>39</string>
			<key>name</key>
			<string>義大利</string>
		</dict>
		<key>jm</key>
		<dict>
			<key>code</key>
			<string>1876</string>
			<key>name</key>
			<string>牙買加</string>
		</dict>
		<key>jp</key>
		<dict>
			<key>code</key>
			<string>81</string>
			<key>name</key>
			<string>日本</string>
		</dict>
		<key>jo</key>
		<dict>
			<key>code</key>
			<string>962</string>
			<key>name</key>
			<string>約旦</string>
		</dict>
		<key>kh</key>
		<dict>
			<key>code</key>
			<string>855</string>
			<key>name</key>
			<string>柬埔寨</string>
		</dict>
		<key>kz</key>
		<dict>
			<key>code</key>
			<string>327</string>
			<key>name</key>
			<string>哈薩克</string>
		</dict>
		<key>ke</key>
		<dict>
			<key>code</key>
			<string>254</string>
			<key>name</key>
			<string>肯亞</string>
		</dict>
		<key>kr</key>
		<dict>
			<key>code</key>
			<string>82</string>
			<key>name</key>
			<string>韓國</string>
		</dict>
		<key>kw</key>
		<dict>
			<key>code</key>
			<string>965</string>
			<key>name</key>
			<string>科威特</string>
		</dict>
		<key>kg</key>
		<dict>
			<key>code</key>
			<string>331</string>
			<key>name</key>
			<string>吉爾吉斯斯坦</string>
		</dict>
		<key>la</key>
		<dict>
			<key>code</key>
			<string>856</string>
			<key>name</key>
			<string>老撾</string>
		</dict>
		<key>lv</key>
		<dict>
			<key>code</key>
			<string>371</string>
			<key>name</key>
			<string>拉脫維亞</string>
		</dict>
		<key>lb</key>
		<dict>
			<key>code</key>
			<string>961</string>
			<key>name</key>
			<string>黎巴嫩</string>
		</dict>
		<key>ls</key>
		<dict>
			<key>code</key>
			<string>266</string>
			<key>name</key>
			<string>賴索托</string>
		</dict>
		<key>lr</key>
		<dict>
			<key>code</key>
			<string>231</string>
			<key>name</key>
			<string>賴比瑞亞</string>
		</dict>
		<key>ly</key>
		<dict>
			<key>code</key>
			<string>218</string>
			<key>name</key>
			<string>利比亞</string>
		</dict>
		<key>li</key>
		<dict>
			<key>code</key>
			<string>423</string>
			<key>name</key>
			<string>列支敦士登</string>
		</dict>
		<key>lt</key>
		<dict>
			<key>code</key>
			<string>370</string>
			<key>name</key>
			<string>立陶宛</string>
		</dict>
		<key>lu</key>
		<dict>
			<key>code</key>
			<string>352</string>
			<key>name</key>
			<string>盧森堡</string>
		</dict>
		<key>mo</key>
		<dict>
			<key>code</key>
			<string>853</string>
			<key>name</key>
			<string>澳門</string>
		</dict>
		<key>mg</key>
		<dict>
			<key>code</key>
			<string>261</string>
			<key>name</key>
			<string>馬達加斯加</string>
		</dict>
		<key>mw</key>
		<dict>
			<key>code</key>
			<string>265</string>
			<key>name</key>
			<string>馬拉威</string>
		</dict>
		<key>my</key>
		<dict>
			<key>code</key>
			<string>60</string>
			<key>name</key>
			<string>馬來西亞</string>
		</dict>
		<key>mv</key>
		<dict>
			<key>code</key>
			<string>960</string>
			<key>name</key>
			<string>馬爾地夫</string>
		</dict>
		<key>ml</key>
		<dict>
			<key>code</key>
			<string>223</string>
			<key>name</key>
			<string>馬里</string>
		</dict>
		<key>mt</key>
		<dict>
			<key>code</key>
			<string>356</string>
			<key>name</key>
			<string>馬爾他</string>
		</dict>
		<key>mu</key>
		<dict>
			<key>code</key>
			<string>230</string>
			<key>name</key>
			<string>模里西斯</string>
		</dict>
		<key>mx</key>
		<dict>
			<key>code</key>
			<string>52</string>
			<key>name</key>
			<string>墨西哥</string>
		</dict>
		<key>md</key>
		<dict>
			<key>code</key>
			<string>373</string>
			<key>name</key>
			<string>莫爾達瓦</string>
		</dict>
		<key>mc</key>
		<dict>
			<key>code</key>
			<string>377</string>
			<key>name</key>
			<string>摩納哥</string>
		</dict>
		<key>mn</key>
		<dict>
			<key>code</key>
			<string>976</string>
			<key>name</key>
			<string>蒙古</string>
		</dict>
		<key>ms</key>
		<dict>
			<key>code</key>
			<string>1664</string>
			<key>name</key>
			<string>蒙瑟拉特島是</string>
		</dict>
		<key>ma</key>
		<dict>
			<key>code</key>
			<string>212</string>
			<key>name</key>
			<string>摩洛哥</string>
		</dict>
		<key>mz</key>
		<dict>
			<key>code</key>
			<string>258</string>
			<key>name</key>
			<string>莫三比克</string>
		</dict>
		<key>na</key>
		<dict>
			<key>code</key>
			<string>264</string>
			<key>name</key>
			<string>納米比亞</string>
		</dict>
		<key>nr</key>
		<dict>
			<key>code</key>
			<string>674</string>
			<key>name</key>
			<string>諾魯</string>
		</dict>
		<key>np</key>
		<dict>
			<key>code</key>
			<string>977</string>
			<key>name</key>
			<string>尼泊爾</string>
		</dict>
		<key>nl</key>
		<dict>
			<key>code</key>
			<string>31</string>
			<key>name</key>
			<string>荷蘭</string>
		</dict>
		<key>nz</key>
		<dict>
			<key>code</key>
			<string>64</string>
			<key>name</key>
			<string>紐西蘭</string>
		</dict>
		<key>ni</key>
		<dict>
			<key>code</key>
			<string>505</string>
			<key>name</key>
			<string>尼加拉瓜</string>
		</dict>
		<key>ne</key>
		<dict>
			<key>code</key>
			<string>227</string>
			<key>name</key>
			<string>尼日爾</string>
		</dict>
		<key>ng</key>
		<dict>
			<key>code</key>
			<string>234</string>
			<key>name</key>
			<string>奈及利亞</string>
		</dict>
		<key>kp</key>
		<dict>
			<key>code</key>
			<string>850</string>
			<key>name</key>
			<string>朝鮮</string>
		</dict>
		<key>no</key>
		<dict>
			<key>code</key>
			<string>47</string>
			<key>name</key>
			<string>挪威</string>
		</dict>
		<key>om</key>
		<dict>
			<key>code</key>
			<string>968</string>
			<key>name</key>
			<string>阿曼</string>
		</dict>
		<key>pk</key>
		<dict>
			<key>code</key>
			<string>92</string>
			<key>name</key>
			<string>巴基斯坦</string>
		</dict>
		<key>pa</key>
		<dict>
			<key>code</key>
			<string>507</string>
			<key>name</key>
			<string>巴拿馬</string>
		</dict>
		<key>pg</key>
		<dict>
			<key>code</key>
			<string>675</string>
			<key>name</key>
			<string>巴布亞紐幾內亞</string>
		</dict>
		<key>py</key>
		<dict>
			<key>code</key>
			<string>595</string>
			<key>name</key>
			<string>巴拉圭</string>
		</dict>
		<key>pe</key>
		<dict>
			<key>code</key>
			<string>51</string>
			<key>name</key>
			<string>秘魯</string>
		</dict>
		<key>ph</key>
		<dict>
			<key>code</key>
			<string>63</string>
			<key>name</key>
			<string>菲律賓</string>
		</dict>
		<key>pl</key>
		<dict>
			<key>code</key>
			<string>48</string>
			<key>name</key>
			<string>波蘭</string>
		</dict>
		<key>pf</key>
		<dict>
			<key>code</key>
			<string>689</string>
			<key>name</key>
			<string>法屬波利尼西亞</string>
		</dict>
		<key>pt</key>
		<dict>
			<key>code</key>
			<string>351</string>
			<key>name</key>
			<string>葡萄牙</string>
		</dict>
		<key>pr</key>
		<dict>
			<key>code</key>
			<string>1787</string>
			<key>name</key>
			<string>波多黎各</string>
		</dict>
		<key>qa</key>
		<dict>
			<key>code</key>
			<string>974</string>
			<key>name</key>
			<string>卡達</string>
		</dict>
		<key>ro</key>
		<dict>
			<key>code</key>
			<string>40</string>
			<key>name</key>
			<string>羅馬尼亞</string>
		</dict>
		<key>ru</key>
		<dict>
			<key>code</key>
			<string>7</string>
			<key>name</key>
			<string>俄羅斯</string>
		</dict>
		<key>lc</key>
		<dict>
			<key>code</key>
			<string>1758</string>
			<key>name</key>
			<string>聖露西亞</string>
		</dict>
		<key>vc</key>
		<dict>
			<key>code</key>
			<string>1784</string>
			<key>name</key>
			<string>聖文森特</string>
		</dict>
		<key>sm</key>
		<dict>
			<key>code</key>
			<string>378</string>
			<key>name</key>
			<string>聖馬利諾</string>
		</dict>
		<key>st</key>
		<dict>
			<key>code</key>
			<string>239</string>
			<key>name</key>
			<string>聖多美及普林西比島</string>
		</dict>
		<key>sa</key>
		<dict>
			<key>code</key>
			<string>966</string>
			<key>name</key>
			<string>沙烏地阿拉伯</string>
		</dict>
		<key>sn</key>
		<dict>
			<key>code</key>
			<string>221</string>
			<key>name</key>
			<string>塞內加爾</string>
		</dict>
		<key>sc</key>
		<dict>
			<key>code</key>
			<string>248</string>
			<key>name</key>
			<string>塞席爾</string>
		</dict>
		<key>sl</key>
		<dict>
			<key>code</key>
			<string>232</string>
			<key>name</key>
			<string>獅子山</string>
		</dict>
		<key>sg</key>
		<dict>
			<key>code</key>
			<string>65</string>
			<key>name</key>
			<string>新加坡</string>
		</dict>
		<key>sk</key>
		<dict>
			<key>code</key>
			<string>421</string>
			<key>name</key>
			<string>斯洛伐克</string>
		</dict>
		<key>si</key>
		<dict>
			<key>code</key>
			<string>386</string>
			<key>name</key>
			<string>斯洛維尼亞</string>
		</dict>
		<key>sb</key>
		<dict>
			<key>code</key>
			<string>677</string>
			<key>name</key>
			<string>所羅門</string>
		</dict>
		<key>so</key>
		<dict>
			<key>code</key>
			<string>252</string>
			<key>name</key>
			<string>索馬里</string>
		</dict>
		<key>za</key>
		<dict>
			<key>code</key>
			<string>27</string>
			<key>name</key>
			<string>南非</string>
		</dict>
		<key>es</key>
		<dict>
			<key>code</key>
			<string>34</string>
			<key>name</key>
			<string>西班牙</string>
		</dict>
		<key>lk</key>
		<dict>
			<key>code</key>
			<string>94</string>
			<key>name</key>
			<string>斯里蘭卡</string>
		</dict>
		<key>sd</key>
		<dict>
			<key>code</key>
			<string>249</string>
			<key>name</key>
			<string>蘇丹</string>
		</dict>
		<key>sr</key>
		<dict>
			<key>code</key>
			<string>597</string>
			<key>name</key>
			<string>蘇利南</string>
		</dict>
		<key>sz</key>
		<dict>
			<key>code</key>
			<string>268</string>
			<key>name</key>
			<string>史瓦濟蘭</string>
		</dict>
		<key>se</key>
		<dict>
			<key>code</key>
			<string>46</string>
			<key>name</key>
			<string>瑞典</string>
		</dict>
		<key>ch</key>
		<dict>
			<key>code</key>
			<string>41</string>
			<key>name</key>
			<string>瑞士</string>
		</dict>
		<key>sy</key>
		<dict>
			<key>code</key>
			<string>963</string>
			<key>name</key>
			<string>敘利亞</string>
		</dict>
		<key>tw</key>
		<dict>
			<key>code</key>
			<string>886</string>
			<key>name</key>
			<string>臺灣</string>
		</dict>
		<key>tj</key>
		<dict>
			<key>code</key>
			<string>992</string>
			<key>name</key>
			<string>塔吉克斯坦</string>
		</dict>
		<key>tz</key>
		<dict>
			<key>code</key>
			<string>255</string>
			<key>name</key>
			<string>坦尚尼亞</string>
		</dict>
		<key>th</key>
		<dict>
			<key>code</key>
			<string>66</string>
			<key>name</key>
			<string>泰國</string>
		</dict>
		<key>tg</key>
		<dict>
			<key>code</key>
			<string>228</string>
			<key>name</key>
			<string>多哥</string>
		</dict>
		<key>to</key>
		<dict>
			<key>code</key>
			<string>676</string>
			<key>name</key>
			<string>東加</string>
		</dict>
		<key>tt</key>
		<dict>
			<key>code</key>
			<string>1809</string>
			<key>name</key>
			<string>千里達和多巴哥</string>
		</dict>
		<key>tn</key>
		<dict>
			<key>code</key>
			<string>216</string>
			<key>name</key>
			<string>突尼斯</string>
		</dict>
		<key>tr</key>
		<dict>
			<key>code</key>
			<string>90</string>
			<key>name</key>
			<string>土耳其</string>
		</dict>
		<key>tm</key>
		<dict>
			<key>code</key>
			<string>993</string>
			<key>name</key>
			<string>土庫曼斯坦</string>
		</dict>
		<key>ug</key>
		<dict>
			<key>code</key>
			<string>256</string>
			<key>name</key>
			<string>烏干達</string>
		</dict>
		<key>ua</key>
		<dict>
			<key>code</key>
			<string>380</string>
			<key>name</key>
			<string>烏克蘭</string>
		</dict>
		<key>ae</key>
		<dict>
			<key>code</key>
			<string>971</string>
			<key>name</key>
			<string>阿拉伯聯合大公國</string>
		</dict>
		<key>gb</key>
		<dict>
			<key>code</key>
			<string>44</string>
			<key>name</key>
			<string>英國</string>
		</dict>
		<key>us</key>
		<dict>
			<key>code</key>
			<string>1</string>
			<key>name</key>
			<string>美國</string>
		</dict>
		<key>uy</key>
		<dict>
			<key>code</key>
			<string>598</string>
			<key>name</key>
			<string>烏拉圭</string>
		</dict>
		<key>uz</key>
		<dict>
			<key>code</key>
			<string>233</string>
			<key>name</key>
			<string>烏茲別克斯坦</string>
		</dict>
		<key>ve</key>
		<dict>
			<key>code</key>
			<string>58</string>
			<key>name</key>
			<string>委內瑞拉</string>
		</dict>
		<key>vn</key>
		<dict>
			<key>code</key>
			<string>84</string>
			<key>name</key>
			<string>越南</string>
		</dict>
		<key>ye</key>
		<dict>
			<key>code</key>
			<string>967</string>
			<key>name</key>
			<string>葉門</string>
		</dict>
		<key>yu</key>
		<dict>
			<key>code</key>
			<string>381</string>
			<key>name</key>
			<string>南斯拉夫</string>
		</dict>
		<key>zw</key>
		<dict>
			<key>code</key>
			<string>263</string>
			<key>name</key>
			<string>辛巴威</string>
		</dict>
		<key>zr</key>
		<dict>
			<key>code</key>
			<string>243</string>
			<key>name</key>
			<string>薩伊</string>
		</dict>
		<key>zm</key>
		<dict>
			<key>code</key>
			<string>260</string>
			<key>name</key>
			<string>尚比亞</string>
		</dict>
	</dict>
	<key>top10</key>
	<array>
		<dict>
			<key>code</key>
			<string>86</string>
			<key>name</key>
			<string>中國</string>
		</dict>
		<dict>
			<key>code</key>
			<string>852</string>
			<key>name</key>
			<string>香港</string>
		</dict>
		<dict>
			<key>code</key>
			<string>1</string>
			<key>name</key>
			<string>美國</string>
		</dict>
		<dict>
			<key>code</key>
			<string>61</string>
			<key>name</key>
			<string>澳大利亞</string>
		</dict>
		<dict>
			<key>code</key>
			<string>65</string>
			<key>name</key>
			<string>新加坡</string>
		</dict>
		<dict>
			<key>code</key>
			<string>44</string>
			<key>name</key>
			<string>英國</string>
		</dict>
		<dict>
			<key>code</key>
			<string>886</string>
			<key>name</key>
			<string>臺灣</string>
		</dict>
		<dict>
			<key>code</key>
			<string>1</string>
			<key>name</key>
			<string>加拿大</string>
		</dict>
		<dict>
			<key>code</key>
			<string>81</string>
			<key>name</key>
			<string>日本</string>
		</dict>
		<dict>
			<key>code</key>
			<string>853</string>
			<key>name</key>
			<string>澳門</string>
		</dict>
	</array>
</dict>
</plist>
