<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contact</key>
	<dict>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>0</integer>
		<key>width</key>
		<integer>320</integer>
		<key>height</key>
		<integer>410</integer>
		<key>toolbar</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>320</integer>
			<key>height</key>
			<integer>45</integer>
			<key>tool</key>
			<dict>
				<key>x</key>
				<integer>80</integer>
				<key>y</key>
				<integer>5</integer>
				<key>width</key>
				<integer>160</integer>
				<key>height</key>
				<integer>34</integer>
			</dict>
		</dict>
		<key>searchbar</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>45</integer>
			<key>width</key>
			<integer>320</integer>
			<key>height</key>
			<integer>45</integer>
		</dict>
		<key>content</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>90</integer>
			<key>width</key>
			<integer>320</integer>
			<key>height</key>
			<integer>320</integer>
		</dict>
		<key>search_result</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>90</integer>
			<key>width</key>
			<integer>320</integer>
			<key>height</key>
			<integer>320</integer>
			<key>table_cell</key>
			<dict>
				<key>row_height</key>
				<integer>50</integer>
				<key>image</key>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>width</key>
					<integer>0</integer>
					<key>height</key>
					<integer>0</integer>
				</dict>
				<key>main_title</key>
				<dict>
					<key>x</key>
					<integer>4</integer>
					<key>y</key>
					<integer>5</integer>
					<key>width</key>
					<integer>171</integer>
					<key>height</key>
					<integer>20</integer>
				</dict>
				<key>sub_title</key>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>width</key>
					<integer>0</integer>
					<key>height</key>
					<integer>0</integer>
				</dict>
			</dict>
		</dict>
		<key>circle</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>88</integer>
			<key>width</key>
			<integer>320</integer>
			<key>height</key>
			<integer>323</integer>
			<key>group</key>
			<dict>
				<key>x</key>
				<integer>50</integer>
				<key>y</key>
				<string></string>
				<key>width</key>
				<string></string>
				<key>height</key>
				<string></string>
				<key>row_height</key>
				<string></string>
				<key>item</key>
				<dict>
					<key>title</key>
					<dict>
						<key>x</key>
						<integer>0</integer>
						<key>y</key>
						<integer>0</integer>
						<key>width</key>
						<integer>0</integer>
						<key>height</key>
						<integer>0</integer>
					</dict>
				</dict>
				<key>count</key>
				<dict>
					<key>x</key>
					<integer>4</integer>
					<key>y</key>
					<integer>5</integer>
					<key>width</key>
					<integer>171</integer>
					<key>height</key>
					<integer>20</integer>
					<key>color</key>
					<string></string>
					<key>fontsize</key>
					<string>14</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
