<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CustomTagCommand</key>
	<dict>
		<key>displayName</key>
		<string>Edit to tag</string>
	</dict>
	<key>EditToCallCommand</key>
	<dict>
		<key>backGroundImageInHighlight</key>
		<string>Common_LongGesture_edit_call_ht@2x.png</string>
		<key>backGroundImageInNormalState</key>
		<string>Common_LongGesture_edit_call@2x.png</string>
		<key>displayName</key>
		<string>Edit to call</string>
	</dict>
	<key>SendSMSCommand</key>
	<dict>
		<key>backGroundImageInHighlight</key>
		<string>Common_LongGesture_send_message_ht@2x.png</string>
		<key>backGroundImageInNormalState</key>
		<string>Common_LongGesture_send_message@2x.png</string>
		<key>displayName</key>
		<string>Message</string>
	</dict>
	<key>EditContactCommand</key>
	<dict>
		<key>backGroundImageInHighlight</key>
		<string>Common_LongGesture_edit_ht@2x.png</string>
		<key>backGroundImageInNormalState</key>
		<string>Common_LongGesture_edit@2x.png</string>
		<key>displayName</key>
		<string>Edit</string>
	</dict>
	<key>RemoveCallsCommand</key>
	<dict>
		<key>backGroundImageInHighlight</key>
		<string>Common_LongGesture_delete_calls_ht@2x.png</string>
		<key>backGroundImageInNormalState</key>
		<string>Common_LongGesture_delete_calls@2x.png</string>
		<key>displayName</key>
		<string>Clear</string>
	</dict>
	<key>ShareContactCommand</key>
	<dict>
		<key>backGroundImageInHighlight</key>
		<string>Common_LongGesture_share_contact_ht@2x.png</string>
		<key>backGroundImageInNormalState</key>
		<string>Common_LongGesture_share_contact@2x.png</string>
		<key>displayName</key>
		<string>Share</string>
	</dict>
	<key>CopyPhoneNumberCommand</key>
	<dict>
		<key>backGroundImageInHighlight</key>
		<string>Common_LongGesture_copy_ht@2x.png</string>
		<key>backGroundImageInNormalState</key>
		<string>Common_LongGesture_copy@2x.png</string>
		<key>displayName</key>
		<string>Copy</string>
	</dict>
	<key>DeleteContactCommand</key>
	<dict>
		<key>backGroundImageInHighlight</key>
		<string>Common_LongGesture_delete_person_ht@2x.png</string>
		<key>backGroundImageInNormalState</key>
		<string>Common_LongGesture_delete_person@2x.png</string>
		<key>displayName</key>
		<string>Delete</string>
	</dict>
	<key>AlipayTACommand</key>
	<dict>
		<key>backGroundImageInHighlight</key>
		<string>Common_LongGesture_alipay_ht@2x.png</string>
		<key>backGroundImageInNormalState</key>
		<string>Common_LongGesture_alipay@2x.png</string>
		<key>displayName</key>
		<string>Pay</string>
	</dict>
	<key>AddToContactCommand</key>
	<dict>
		<key>backGroundImageInHighlight</key>
		<string>Common_LongGesture_add_contact_ht@2x.png</string>
		<key>backGroundImageInNormalState</key>
		<string>Common_LongGesture_add_contact@2x.png</string>
		<key>displayName</key>
		<string>Save</string>
	</dict>
	<key>EditGroupCommand</key>
	<dict>
		<key>backGroundImageInHighlight</key>
		<string>Common_LongGesture_edit_groups_ht@2x.png</string>
		<key>backGroundImageInNormalState</key>
		<string>Common_LongGesture_edit_groups@2x.png</string>
		<key>displayName</key>
		<string>Group</string>
	</dict>
	<key>MakeCallCommand</key>
	<dict>
		<key>backGroundImageInHighlight</key>
		<string>Common_LongGesture_make_call_ht@2x.png</string>
		<key>backGroundImageInNormalState</key>
		<string>Common_LongGesture_make_call@2x.png</string>
		<key>displayName</key>
		<string>Call</string>
	</dict>
	<key>ReportShopCommand</key>
	<dict>
		<key>backGroundImageInHighlight</key>
		<string>Common_LongGesture_report_ht@2x.png</string>
		<key>backGroundImageInNormalState</key>
		<string>Common_LongGesture_report@2x.png</string>
		<key>displayName</key>
		<string>Report</string>
	</dict>
	<key>MoreCommand</key>
	<dict>
		<key>backGroundImageInHighlight</key>
		<string>Common_LongGesture_more@2x.png</string>
		<key>backGroundImageInNormalState</key>
		<string>Common_LongGesture_more@2x.png</string>
		<key>displayName</key>
		<string>More</string>
	</dict>
	<key>AddToFavoriteCommand</key>
	<dict>
		<key>backGroundImageInHighlight</key>
		<string></string>
		<key>backGroundImageInNormalState</key>
		<string></string>
		<key>displayName</key>
		<string>AddToFavorite</string>
	</dict>
</dict>
</plist>
