<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>key1</key>
	<dict>
		<key>style</key>
		<integer>1</integer>
		<key>number</key>
		<integer>1</integer>
		<key>letter_eng</key>
		<string></string>
		<key>letter_greek</key>
		<string></string>
		<key>letter_hebrew</key>
		<string></string>
		<key>letter_farsi</key>
		<string></string>
		<key>letter_russian</key>
		<string></string>
		<key>letter_img</key>
		<string>dialer_phonepad1_fg.png</string>
		<key>pos_x</key>
		<integer>0</integer>
		<key>pos_y</key>
		<integer>5</integer>
		<key>pos_width</key>
		<integer>106</integer>
		<key>pos_height</key>
		<integer>55</integer>
		<key>key_style</key>
		<string>T9NumberKey_style</string>
	</dict>
	<key>key2</key>
	<dict>
		<key>style</key>
		<integer>1</integer>
		<key>number</key>
		<integer>2</integer>
		<key>letter_eng</key>
		<string>ABC</string>
		<key>letter_greek</key>
		<string>αβγ</string>
		<key>letter_hebrew</key>
		<string>והד</string>
		<key>letter_farsi</key>
		<string>ثتپب</string>
		<key>letter_russian</key>
		<string>абвг</string>
		<key>letter_img</key>
		<string></string>
		<key>pos_x</key>
		<integer>107</integer>
		<key>pos_y</key>
		<integer>5</integer>
		<key>pos_width</key>
		<integer>106</integer>
		<key>pos_height</key>
		<integer>55</integer>
		<key>key_style</key>
		<string>T9NumberKey_style</string>
	</dict>
	<key>key3</key>
	<dict>
		<key>style</key>
		<integer>1</integer>
		<key>number</key>
		<integer>3</integer>
		<key>letter_eng</key>
		<string>DEF</string>
		<key>letter_greek</key>
		<string>δεζ</string>
		<key>letter_hebrew</key>
		<string>גבא</string>
		<key>letter_farsi</key>
		<string>ءآا</string>
		<key>letter_russian</key>
		<string>дежз</string>
		<key>letter_img</key>
		<string></string>
		<key>pos_x</key>
		<integer>214</integer>
		<key>pos_y</key>
		<integer>5</integer>
		<key>pos_width</key>
		<integer>106</integer>
		<key>pos_height</key>
		<integer>55</integer>
		<key>key_style</key>
		<string>T9NumberKey_style</string>
	</dict>
	<key>key4</key>
	<dict>
		<key>style</key>
		<integer>1</integer>
		<key>number</key>
		<integer>4</integer>
		<key>letter_eng</key>
		<string>GHI</string>
		<key>letter_greek</key>
		<string>ηθι</string>
		<key>letter_hebrew</key>
		<string>ןנםמ</string>
		<key>letter_farsi</key>
		<string>ضصشس</string>
		<key>letter_russian</key>
		<string>ийкл</string>
		<key>letter_img</key>
		<string></string>
		<key>pos_x</key>
		<integer>0</integer>
		<key>pos_y</key>
		<integer>60</integer>
		<key>pos_width</key>
		<integer>106</integer>
		<key>pos_height</key>
		<integer>55</integer>
		<key>key_style</key>
		<string>T9NumberKey_style</string>
	</dict>
	<key>key5</key>
	<dict>
		<key>style</key>
		<integer>1</integer>
		<key>number</key>
		<integer>5</integer>
		<key>letter_eng</key>
		<string>JKL</string>
		<key>letter_greek</key>
		<string>κλμ</string>
		<key>letter_hebrew</key>
		<string>לרכי</string>
		<key>letter_farsi</key>
		<string>ژزرذد</string>
		<key>letter_russian</key>
		<string>мноп</string>
		<key>letter_img</key>
		<string></string>
		<key>pos_x</key>
		<integer>107</integer>
		<key>pos_y</key>
		<integer>60</integer>
		<key>pos_width</key>
		<integer>106</integer>
		<key>pos_height</key>
		<integer>55</integer>
		<key>key_style</key>
		<string>T9NumberKey_style</string>
	</dict>
	<key>key6</key>
	<dict>
		<key>style</key>
		<integer>1</integer>
		<key>number</key>
		<integer>6</integer>
		<key>letter_eng</key>
		<string>MNO</string>
		<key>letter_greek</key>
		<string>νξο</string>
		<key>letter_hebrew</key>
		<string>טחז</string>
		<key>letter_farsi</key>
		<string>خحچج</string>
		<key>letter_russian</key>
		<string>рсту</string>
		<key>letter_img</key>
		<string></string>
		<key>pos_x</key>
		<integer>214</integer>
		<key>pos_y</key>
		<integer>60</integer>
		<key>pos_width</key>
		<integer>106</integer>
		<key>pos_height</key>
		<integer>55</integer>
		<key>key_style</key>
		<string>T9NumberKey_style</string>
	</dict>
	<key>key7</key>
	<dict>
		<key>style</key>
		<integer>1</integer>
		<key>number</key>
		<integer>7</integer>
		<key>letter_eng</key>
		<string>PQRS</string>
		<key>letter_greek</key>
		<string>πρςσ</string>
		<key>letter_hebrew</key>
		<string>תשר</string>
		<key>letter_farsi</key>
		<string>یوهنم</string>
		<key>letter_russian</key>
		<string>фхцч</string>
		<key>letter_img</key>
		<string></string>
		<key>pos_x</key>
		<integer>0</integer>
		<key>pos_y</key>
		<integer>115</integer>
		<key>pos_width</key>
		<integer>106</integer>
		<key>pos_height</key>
		<integer>55</integer>
		<key>key_style</key>
		<string>T9NumberKey_style</string>
	</dict>
	<key>key8</key>
	<dict>
		<key>style</key>
		<integer>1</integer>
		<key>number</key>
		<integer>8</integer>
		<key>letter_eng</key>
		<string>TUV</string>
		<key>letter_greek</key>
		<string>τυφ</string>
		<key>letter_hebrew</key>
		<string>קץצ</string>
		<key>letter_farsi</key>
		<string>لگکقف</string>
		<key>letter_russian</key>
		<string>шщъы</string>
		<key>letter_img</key>
		<string></string>
		<key>pos_x</key>
		<integer>107</integer>
		<key>pos_y</key>
		<integer>115</integer>
		<key>pos_width</key>
		<integer>106</integer>
		<key>pos_height</key>
		<integer>55</integer>
		<key>key_style</key>
		<string>T9NumberKey_style</string>
	</dict>
	<key>key9</key>
	<dict>
		<key>style</key>
		<integer>1</integer>
		<key>number</key>
		<integer>9</integer>
		<key>letter_eng</key>
		<string>WXYZ</string>
		<key>letter_greek</key>
		<string>χψω</string>
		<key>letter_hebrew</key>
		<string>ףפעס</string>
		<key>letter_farsi</key>
		<string>غعظط</string>
		<key>letter_russian</key>
		<string>ьэюя</string>
		<key>letter_img</key>
		<string></string>
		<key>pos_x</key>
		<integer>214</integer>
		<key>pos_y</key>
		<integer>115</integer>
		<key>pos_width</key>
		<integer>106</integer>
		<key>pos_height</key>
		<integer>55</integer>
		<key>key_style</key>
		<string>T9NumberKey_style</string>
	</dict>
	<key>key0</key>
	<dict>
		<key>style</key>
		<integer>1</integer>
		<key>number</key>
		<integer>0</integer>
		<key>letter_eng</key>
		<string>+</string>
		<key>letter_greek</key>
		<string></string>
		<key>letter_hebrew</key>
		<string></string>
		<key>letter_farsi</key>
		<string></string>
		<key>letter_russian</key>
		<string></string>
		<key>letter_img</key>
		<string></string>
		<key>pos_x</key>
		<integer>107</integer>
		<key>pos_y</key>
		<integer>170</integer>
		<key>pos_width</key>
		<integer>106</integer>
		<key>pos_height</key>
		<integer>55</integer>
		<key>key_style</key>
		<string>T9NumberKey_style</string>
	</dict>
	<key>Key10</key>
	<dict>
		<key>style</key>
		<integer>1</integer>
		<key>number</key>
		<integer>10</integer>
		<key>letter_eng</key>
		<string>全键盘</string>
		<key>key_style</key>
		<string>T9NumberKey_style</string>
	</dict>
	<key>Key11</key>
	<dict>
		<key>style</key>
		<integer>1</integer>
		<key>number</key>
		<integer>11</integer>
		<key>letter_eng</key>
		<string>粘贴</string>
		<key>key_style</key>
		<string>T9NumberKey_style</string>
	</dict>
</dict>
</plist>
