<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>**************default-通用元素**************</key>
	<string></string>
	<key>**************通用元素：页面背景色**************</key>
	<string></string>
	<key>defaultBackground_color</key>
	<string>tp_color_grey_850</string>
	<key>defaultBackgroundWhite_color</key>
	<string>tp_color_white</string>
	<key>CootekViewController_background_color</key>
	<string>defaultBackground_color</string>
	<key>**************用户打开程序，没有address book权限的界面**************</key>
	<string></string>
	<key>addressBookAccesshintBackground_color</key>
	<string>0xdde7f0</string>
	<key>**************通用元素：列表-cell**************</key>
	<string></string>
	<key>defaultCellBackground_color</key>
	<string>clearColor</string>
	<key>defaultCellDetailText_color</key>
	<string>tp_color_grey_300</string>
	<key>defaultCellMainText_color</key>
	<string>tp_color_white</string>
	<key>defaultCellSelected_color</key>
	<string>tp_color_grey_500</string>
	<key>**************通用元素：字体-text**************</key>
	<string></string>
	<key>defaultText_color</key>
	<string>tp_color_white</string>
	<key>defaultTextBlack_color</key>
	<string>tp_color_black</string>
	<key>defaultTextGray_color</key>
	<string>defaultCellDetailText_color</string>
	<key>highlightLabel_text_color</key>
	<string>defaultCellMainText_color</string>
	<key>highlightLabel_highlight_color</key>
	<string>tp_color_light_blue_600</string>
	<key>RankEmptyReminderView_reminderLabelText_color</key>
	<string>tp_color_grey_650</string>
	<key>**************通用元素：蒙版-mask**************</key>
	<string></string>
	<key>blackWith_0.1_alpha_color</key>
	<string>tp_color_black_transparency_100</string>
	<key>blackWith_0.2_alpha_color</key>
	<string>tp_color_black_transparency_200</string>
	<key>**************通用元素：表格-Table**************</key>
	<string></string>
	<key>UITableViewSectionHeaderBackground_color</key>
	<string>contactCellHeaderBG_color</string>
	<key>UITableViewSectionHeaderText_color</key>
	<string>contactCellSectionHeader_color</string>
	<key>defaultUITableViewCell_style</key>
	<dict>
		<key>backgroundColor</key>
		<string>clearColor</string>
		<key>textColor</key>
		<string>defaultCellMainText_color</string>
	</dict>
	<key>defaultUITableViewSeperator_color</key>
	<string>tp_color_grey_750</string>
	<key>defaultUITableView_style</key>
	<dict>
		<key>backgroundColor</key>
		<string>clearColor</string>
		<key>seperatorColor</key>
		<string>defaultUITableViewSeperator_color</string>
	</dict>
	<key>**************通用元素：状态栏-statusBar**************</key>
	<string></string>
	<key>statusBar_isDefaultStyle</key>
	<string>0</string>
	<key>**************通用元素：导航栏-headerBar**************</key>
	<string></string>
	<key>defaultHeaderView_style</key>
	<dict>
		<key>backgroundImage</key>
		<string>common_header_bg@2x.png</string>
	</dict>
	<key>defaultUILabel_style</key>
	<dict>
		<key>backgroundColor_color</key>
		<string>clearColor</string>
		<key>textColor_color</key>
		<string>defaultText_color</string>
	</dict>
	<key>header_btn_color</key>
	<string>tp_color_white</string>
	<key>header_btn_disabled_color</key>
	<string>tp_color_grey_700</string>
	<key>defaultTPHeaderButton_style</key>
	<dict>
		<key>backgroundImage</key>
		<string>common_btn_normal@2x.png</string>
		<key>backgroundImage_ht</key>
		<string>common_btn_pressed@2x.png</string>
		<key>textColor</key>
		<string>tp_color_white</string>
	</dict>
	<key>PhoneNumberInputView_style</key>
	<dict>
		<key>attrTextColor</key>
		<string>tp_color_grey_150</string>
		<key>font</key>
		<string>124</string>
		<key>textColor</key>
		<string>defaultText_color</string>
	</dict>
	<key>newer_wizard_color</key>
	<string>tp_color_orange_500</string>
	<key>default_backButton_style</key>
	<dict>
		<key>imageForStateNormal</key>
		<string>common_navgation_back_icon@2x.png</string>
	</dict>
	<key>default_editButton_style</key>
	<dict>
		<key>imageForStateNormal</key>
		<string>common_header_edit_normal@2x.png</string>
		<key>imageForSelectedState</key>
		<string>common_header_edit_normal@2x.png</string>
	</dict>
	<key>default_headtabbar_style</key>
	<dict>
		<key>backgroundColor</key>
		<string>clearColor</string>
		<key>tabButton_titleColor</key>
		<string>defaultText_color</string>
		<key>textColor</key>
		<string>defaultText_color</string>
	</dict>
	<key>**************通用元素：标签栏-tabBar**************</key>
	<string></string>
	<key>tabBarBackground_image</key>
	<string>common_tab_bar_bg@2x.png</string>
	<key>root_tab_bar_shadow_color</key>
	<string>tp_color_black</string>
	<key>rootTabBarButtonMiddle</key>
	<string>0</string>
	<key>tabBarDisableText_color</key>
	<string>tp_color_grey_500</string>
	<key>tabBarActiveText_color</key>
	<string>tp_color_light_blue_500</string>
	<key>contactViewController_tabBar_style</key>
	<dict>
		<key>imageForStateNormal</key>
		<string>common_tabbar_contact_normal@2x.png</string>
		<key>imageForSelectedState</key>
		<string>common_tabbar_contact_pressed@2x.png</string>
		<key>textColor</key>
		<string>tabBarDisableText_color</string>
		<key>textColor_ht</key>
		<string>tabBarActiveText_color</string>
	</dict>
	<key>dialerViewController_tabBar_style</key>
	<dict>
		<key>phonePadNormal_image</key>
		<string>common_tabbar_dialer_normal@2x.png</string>
		<key>phonePadHide_image</key>
		<string>common_tabbar_dialer_hide@2x.png</string>
		<key>phonePadShow_image</key>
		<string>common_tabbar_dialer_show@2x.png</string>
		<key>textColor</key>
		<string>tabBarDisableText_color</string>
		<key>textColor_ht</key>
		<string>tabBarActiveText_color</string>
	</dict>
	<key>favorViewController_tabBar_style</key>
	<dict>
		<key>imageForStateNormal</key>
		<string>common_tabbar_wall_normal@2x.png</string>
		<key>imageForSelectedState</key>
		<string>common_tabbar_wall_pressed@2x.png</string>
		<key>textColor</key>
		<string>tabBarDisableText_color</string>
		<key>textColor_ht</key>
		<string>tabBarActiveText_color</string>
	</dict>
	<key>dialerView_callAndDeleteBarBackImage_style</key>
	<dict>
		<key>image_image</key>
		<string>common_tab_bar_bg@2x.png</string>
	</dict>
	<key>dialerView_showKeypad_style</key>
	<dict>
		<key>imageForStateNormal</key>
		<string>common_tabbar_keyboard_show@2x.png</string>
		<key>imageForSelectedState</key>
		<string>common_tabbar_keyboard_hide@2x.png</string>
		<key>textColor</key>
		<string>tabBarDisableText_color</string>
		<key>textColor_ht</key>
		<string>tabBarDisableText_color</string>
	</dict>
	<key>dialerView_callkey_style</key>
	<dict>
		<key>CallKeyBackgroundImage</key>
		<string>dialer_callbtn_fg@2x.png</string>
		<key>CallKeyBackgroundImage_ht</key>
		<string>dialer_callbtn_fg_h@2x.png</string>
		<key>backgroundEndColor</key>
		<string>tp_color_green_700</string>
		<key>backgroundStartColor</key>
		<string>tp_color_green_500</string>
		<key>callKeyIcon</key>
		<string>dialerView_callKeyIcon@2x.png</string>
		<key>textColor</key>
		<string>tp_color_white</string>
	</dict>
	<key>dialerView_deleteKey_style</key>
	<dict>
		<key>imageForStateNormal</key>
		<string>dialer_delete_fg@2x.png</string>
		<key>imageForDisabledState</key>
		<string>dialer_delete_disable@2x.png</string>
		<key>imageForHighlightedState</key>
		<string>dialer_delete_fg_h@2x.png</string>
		<key>textColor</key>
		<string>tabBarDisableText_color</string>
		<key>textColor_ht</key>
		<string>tabBarActiveText_color</string>
		<key>textColor_disable</key>
		<string>tabBarDisableText_color</string>
	</dict>
	<key>**************KeyPad-键盘**************</key>
	<string></string>
	<key>**************键盘：字体、按键点击-text-ht**************</key>
	<string></string>
	<key>keyPadHighlightText_color</key>
	<string>tp_color_blue_grey_900</string>
	<key>keyPadMainText_color</key>
	<string>tp_color_white</string>
	<key>keyPadMinorText_color</key>
	<string>tp_color_grey_300</string>
	<key>**************九宫格-T9**************</key>
	<string></string>
	<key>KeyPadBgViewT9_style</key>
	<dict>
		<key>backgroundImage</key>
		<string>dailer_keyboard_abc_bj@2x.png</string>
	</dict>
	<key>T9NumberKey_style</key>
	<dict>
		<key>backgroundImage</key>
		<string>T9keypad_numberKey@2x.png</string>
		<key>backgroundImage_ht</key>
		<string>T9keyPad_numberKey_ht@2x.png</string>
		<key>minorTextColor</key>
		<string>keyPadMinorText_color</string>
		<key>textColor</key>
		<string>keyPadMainText_color</string>
		<key>textColor_ht</key>
		<string>keyPadHighlightText_color</string>
	</dict>
	<key>pressPad_style</key>
	<dict>
		<key>backgroundImage_ht</key>
		<string>T9keyPad_numberKey_ht@2x.png</string>
		<key>keyPadTopShadow_start_color</key>
		<string>tp_color_black_transparency_0</string>
		<key>keyPadTopShadow_end_color</key>
		<string>tp_color_black_transparency_50</string>
	</dict>
	<key>**************全键盘-Qwerty**************</key>
	<string></string>
	<key>KeyPadBgViewQwerty_style</key>
	<dict>
		<key>backgroundImage</key>
		<string>dailer_keyboard_123_bj@2x.png</string>
	</dict>
	<key>qwertyNormalKey_style</key>
	<dict>
		<key>backgroundImage</key>
		<string>qwertyKeyPad_normalKey@2x.png</string>
		<key>backgroundImage_ht</key>
		<string>qwertyKeyPad_normalKey_ht@2x.png</string>
		<key>textColor</key>
		<string>tp_color_white</string>
		<key>textColor_ht</key>
		<string>tp_color_blue_grey_900</string>
		<key>minorTextColor</key>
		<string>tp_color_grey_300</string>
	</dict>
	<key>keyboardHasAnimation</key>
	<string>0</string>
	<key>**************CallLogCell-通话记录列表**************</key>
	<string></string>
	<key>**************通话记录-通用元素**************</key>
	<string></string>
	<key>dailerView_callLogCell_style</key>
	<dict>
		<key>dateLabel_textColor</key>
		<string>defaultCellDetailText_color</string>
		<key>detailButton_backgroundImage</key>
		<string>listitem_detail_2_n@2x.png</string>
		<key>detailButton_backgroundImage_ht</key>
		<string>listitem_detail_2_h@2x.png</string>
		<key>nameLabel_backgroundColor</key>
		<string>clearColor</string>
		<key>nameLabel_highlightColor</key>
		<string>highlightLabel_highlight_color</string>
		<key>nameLabel_textColor</key>
		<string>defaultCellMainText_color</string>
		<key>numberLabel_backgroundColor</key>
		<string>clearColor</string>
		<key>numberLabel_highlightColor</key>
		<string>highlightLabel_highlight_color</string>
		<key>numberLabel_textColor</key>
		<string>defaultCellDetailText_color</string>
		<key>selectedBackgroundColor</key>
		<string>defaultCellSelected_color</string>
		<key>timeLabel_textColor</key>
		<string>defaultCellDetailText_color</string>
	</dict>
	<key>**************通话记录-分割线、背景色**************</key>
	<string></string>
	<key>baseContactCell_downSeparateLine_color</key>
	<string>tp_color_grey_650</string>
	<key>UITableView_withBackground_style</key>
	<dict>
		<key>backgroundColor</key>
		<string>defaultBackground_color</string>
		<key>seperatorColor</key>
		<string>tp_color_grey_600</string>
	</dict>
	<key>**************通话记录-识别号码标签**************</key>
	<string></string>
	<key>**************依次：业务推销、骚扰电话、房产中介、快递外卖、诈骗钓鱼**************</key>
	<string></string>
	<key>facesSticker_type1_color</key>
	<string>0xc26ef9</string>
	<key>facesSticker_type2_color</key>
	<string>0xfa8228</string>
	<key>facesSticker_type3_color</key>
	<string>tp_color_orange_500</string>
	<key>facesSticker_type4_color</key>
	<string>0x7eae18</string>
	<key>facesSticker_type5_color</key>
	<string>0xf05648</string>
	<key>**************通话记录-长按列表**************</key>
	<string></string>
	<key>longPressView_style</key>
	<dict>
		<key>operationLabel_textColor_color</key>
		<string>defaultText_color</string>
		<key>bottom_backgroundColor</key>
		<string>0x5fa0d9</string>
		<key>triangle_image</key>
		<string>Common_LongGesture_bgarrow@2x.png</string>
	</dict>
	<key>**************通话记录-未接来电**************</key>
	<string></string>
	<key>common_missedCall_text_color</key>
	<string>tp_color_red_700</string>
	<key>**************通话记录-左右滑列表**************</key>
	<string></string>
	<key>common_swipe_default_color</key>
	<string>tp_color_grey_200</string>
	<key>common_swipe_call_color</key>
	<string>tp_color_green_500</string>
	<key>common_swipe_sms_color</key>
	<string>tp_color_blue_500</string>
	<key>**************通话记录-通话记录为空提示**************</key>
	<string></string>
	<key>textColorHint2_color</key>
	<string>tp_color_grey_350</string>
	<key>textColorHint3_color</key>
	<string>tp_color_light_blue_400</string>
	<key>**************通话记录-搜索结果展示**************</key>
	<string></string>
	<key>searchResultView_cell_style</key>
	<dict>
		<key>detailButton_backgroundImage</key>
		<string>listitem_detail_2_n@2x.png</string>
		<key>detailButton_backgroundImage_ht</key>
		<string>listitem_detail_2_h@2x.png</string>
		<key>nameLabel_highlightColor</key>
		<string>highlightLabel_highlight_color</string>
		<key>nameLabel_textColor</key>
		<string>defaultCellMainText_color</string>
		<key>numberLabel_highlightColor</key>
		<string>highlightLabel_highlight_color</string>
		<key>numberLabel_textColor</key>
		<string>defaultCellDetailText_color</string>
		<key>selectedBackgroundColor</key>
		<string>defaultCellSelected_color</string>
	</dict>
	<key>**************pullDown-下拉框**************</key>
	<string></string>
	<key>pullDown_background_color</key>
	<string>tp_color_grey_750</string>
	<key>pullDown_shadow_color</key>
	<string>tp_color_black_transparency_800</string>
	<key>pullDown_item_text_color</key>
	<string>tp_color_white</string>
	<key>**************person-联系人**************</key>
	<string></string>
	<key>**************联系人：搜索框SearchBar**************</key>
	<string></string>
	<key>UITPSearchBarBackground_color</key>
	<string>tp_color_grey_800</string>
	<key>UITPSearchBarTextField_color</key>
	<string>tp_color_grey_700</string>
	<key>UITPSearchBarEditingLayerBorder_color</key>
	<string>0xff333333</string>
	<key>UITPSearchBar_text_color</key>
	<string>tp_color_white</string>
	<key>UITPSearchBar_placeholder_color</key>
	<string>tp_color_white_transparency_300</string>
	<key>DialerFilterText_color</key>
	<string>grayColor</string>
	<key>**************联系人：收藏夹fav**************</key>
	<string></string>
	<key>fav_area_bg_color</key>
	<string>clearColor</string>
	<key>person_head_char_color</key>
	<string>defaultCellDetailText_color</string>
	<key>**************联系人：收藏夹弹框fav_popup**************</key>
	<string></string>
	<key>fav_popup_head_bg_color</key>
	<string>tp_color_light_blue_400</string>
	<key>fav_popup_head_bg_ht_color</key>
	<string>tp_color_light_blue_600</string>
	<key>OperationScrollView_nameLabel_text_color</key>
	<string>defaultText_color</string>
	<key>fav_popup_cell_bg_color</key>
	<string>tp_color_white</string>
	<key>fav_popup_cell_text_color</key>
	<string>tp_color_grey_800</string>
	<key>fav_popup_cell_bg_ht_color</key>
	<string>tp_color_grey_50</string>
	<key>fav_downSeparateLine_color</key>
	<string>tp_color_grey_100</string>
	<key>fav_popup_cell_call_icon_color</key>
	<string>tp_color_light_blue_500</string>
	<key>fav_popup_cell_sms_icon_color</key>
	<string>tp_color_light_blue_500</string>
	<key>fav_popup_cell_arrow_color</key>
	<string>tp_color_white</string>
	<key>**************联系人：触宝好友touchpaler**************</key>
	<string></string>
	<key>voip_cootekUser_label_color</key>
	<string>tp_color_light_blue_600</string>
	<key>contact_special_cell_blue_image</key>
	<string>tp_color_light_blue_600</string>
	<key>contact_special_cell_icon_color</key>
	<string>tp_color_white</string>
	<key>contact_touchpaler_view_share_view_bg_color</key>
	<string>tp_color_black_transparency_50</string>
	<key>contact_touchpaler_new_header_color</key>
	<string>tp_color_light_blue_600</string>
	<key>contact_touchpal_share_button_bg_image</key>
	<string>tp_color_light_blue_500</string>
	<key>contact_touchpal_share_button_hl_bg_image</key>
	<string>tp_color_light_blue_600</string>
	<key>contact_touchpal_share_button_text_color</key>
	<string>tp_color_white</string>
	<key>**************联系人：联系人列表头像与长按小三角形**************</key>
	<string></string>
	<key>person_default_image_0_color</key>
	<string>0x5fa0d9</string>
	<key>**************联系人：列表内容，参照通用里的**************</key>
	<string></string>
	<key>**************联系人：导航区域**************</key>
	<string></string>
	<key>contactCellSectionHeader_color</key>
	<string>tp_color_grey_500</string>
	<key>contactCellFavSectionHeader_color</key>
	<string>0x8e6169</string>
	<key>contactCellHeaderBG_color</key>
	<string>0x3b3b3b</string>
	<key>SectionIndexView_character_color</key>
	<string>tp_color_grey_300</string>
	<key>ClearViewBackground_color</key>
	<string>tp_color_white_transparency_300</string>
	<key>ClearViewText_color</key>
	<string>defaultText_color</string>
	<key>**************联系人：选择联系人界面**************</key>
	<string></string>
	<key>selectViewButtonColor_normal_color</key>
	<string>tp_color_grey_800</string>
	<key>selectViewButtonColor_pressed_color</key>
	<string>tp_color_grey_900</string>
	<key>selectViewButtonColor_disable_color</key>
	<string>tp_color_grey_100</string>
	<key>selectViewButtonTitleColor_disable_color</key>
	<string>tp_color_white_transparency_100</string>
	<key>selectViewButtonTitleColor_normal_color</key>
	<string>0x32aaee</string>
	<key>selectViewButtonTitleColor_pressed_color</key>
	<string>0xB332aaee</string>
	<key>selectViewButtonArrowColor_normal_color</key>
	<string>tp_color_grey_300</string>
	<key>selectViewButtonArrowColor_pressed_color</key>
	<string>tp_color_light_blue_500</string>
	<key>**************联系人：联系人分组**************</key>
	<string></string>
	<key>expandableList_loading_label_style</key>
	<dict>
		<key>backgroundColor_color</key>
		<string>clearColor</string>
		<key>textColor_color</key>
		<string>tp_color_light_blue_100</string>
	</dict>
	<key>ExpandableListViewBack_image</key>
	<string>tp_color_grey_800</string>
	<key>ExpandableViewController_statusBar_style</key>
	<string>0</string>
	<key>expandableList_new_headtabbar_style</key>
	<dict>
		<key>textColor</key>
		<string>defaultText_color</string>
	</dict>
	<key>ExpandableViewController_groupManage_style</key>
	<dict>
		<key>backgroundImage</key>
		<string></string>
		<key>backgroundImage_ht</key>
		<string></string>
		<key>textColor</key>
		<string>tp_color_grey_250</string>
		<key>textColor_ht</key>
		<string>0xF0c0c0c0</string>
	</dict>
	<key>expandableListView_table_style</key>
	<dict>
		<key>backgroundColor</key>
		<string>tp_color_grey_800</string>
		<key>seperatorColor</key>
		<string>tp_color_grey_850</string>
		<key>selected_color</key>
		<string>tp_color_grey_850</string>
		<key>textLabel_color</key>
		<string>tp_color_grey_250</string>
		<key>iconLabel_color</key>
		<string>tp_color_grey_300</string>
		<key>upSeperateLine_color</key>
		<string>tp_color_grey_800</string>
		<key>downSeperateLine_color</key>
		<string>tp_color_grey_850</string>
	</dict>
	<key>expandableCell_more_normal_color</key>
	<string>tp_color_grey_300</string>
	<key>expandableCell_more_active_color</key>
	<string>tp_color_grey_300</string>
	<key>expandableCell_select_press_color</key>
	<string>tp_color_light_blue_500</string>
	<key>expandableCell_select_normal_color</key>
	<string>tp_color_grey_300</string>
	<key>**************联系人：分组为空**************</key>
	<string></string>
	<key>noGroupmemberHint_style</key>
	<dict>
		<key>hintImage</key>
		<string>contacts_group_none_pic@2x.png</string>
	</dict>
	<key>AddMemberButtonColor_normal_color</key>
	<string>tp_color_grey_700</string>
	<key>AddMemberButtonColor_pressed_color</key>
	<string>tp_color_grey_800</string>
	<key>ungroupNocontactHintLabel_style</key>
	<dict>
		<key>backgroundColor_color</key>
		<string>clearColor</string>
		<key>textColor_color</key>
		<string>RankEmptyReminderView_reminderLabelText_color</string>
	</dict>
	<key>**************联系人：组管理**************</key>
	<string></string>
	<key>CootekTableViewCell_style</key>
	<dict>
		<key>backgroundColor</key>
		<string>clearColor</string>
		<key>detailLabel_textColor</key>
		<string>defaultCellDetailText_color</string>
		<key>textColor</key>
		<string>defaultCellMainText_color</string>
	</dict>
	<key>**************联系人：联系人详情detail**************</key>
	<string></string>
	<key>ContactBasicInfoView_style</key>
	<dict>
		<key>jotTitle_textColor</key>
		<string>tp_color_grey_400</string>
		<key>nameLabel_textColor</key>
		<string>defaultText_color</string>
		<key>numberLabel_textColor</key>
		<string>defaultText_color</string>
	</dict>
	<key>ContactDetailTableView_style</key>
	<dict>
		<key>backgroundColor</key>
		<string>clearColor</string>
		<key>seperatorColor</key>
		<string>baseContactCell_downSeparateLine_color</string>
	</dict>
	<key>ContactItemCell_style</key>
	<dict>
		<key>backgroundColor</key>
		<string>clearColor</string>
		<key>checkedImage</key>
		<string>login_checked@2x.png</string>
		<key>subtitleLabel_backgroundColor</key>
		<string>clearColor</string>
		<key>subtitleLabel_textColor</key>
		<string>defaultCellDetailText_color</string>
		<key>titleLabel_backgroundColor</key>
		<string>clearColor</string>
		<key>titleLabel_textColor</key>
		<string>defaultCellMainText_color</string>
		<key>uncheckedImage</key>
		<string>login_uncheck@2x.png</string>
		<key>New item</key>
		<string></string>
	</dict>
	<key>defaultDetailSwitchButtonText_color</key>
	<string>tp_color_white</string>
	<key>DetailInfoCell_style</key>
	<dict>
		<key>backgroundColor</key>
		<string>tp_color_grey_750</string>
		<key>infoTextLabel_textColor</key>
		<string>defaultCellDetailText_color</string>
		<key>mainTextLabel_textColor</key>
		<string>defaultCellMainText_color</string>
		<key>sns_icon_img_normal</key>
		<string>detailbtn_sms_normal@2x.png</string>
		<key>sns_icon_img_pressed</key>
		<string>detailbtn_sms_pressed@2x.png</string>
	</dict>
	<key>DetailShortcutCell_style</key>
	<dict>
		<key>backgroundColor</key>
		<string>tp_color_grey_750</string>
		<key>backgroundColor_hl</key>
		<string>defaultCellSelected_color</string>
		<key>buttonBorderColor</key>
		<string>baseContactCell_downSeparateLine_color</string>
		<key>buttonTextColor</key>
		<string>tp_color_white</string>
		<key>buttonTextDisableColor</key>
		<string>tp_color_grey_300</string>
	</dict>
	<key>DetailView_facetimeTPHeaderButton_style</key>
	<dict>
		<key>imageForStateNormal</key>
		<string>facetime_icon@2x.png</string>
	</dict>
	<key>UnknownContactInfoViewController_style</key>
	<dict>
		<key>backgroundColor</key>
		<string>defaultBackground_color</string>
		<key>tableView_style</key>
		<string>ContactDetailTableView_style</string>
	</dict>
	<key>UnknownContactActionCell_style</key>
	<dict>
		<key>backgroundColor</key>
		<string>tp_color_grey_700</string>
		<key>textColor</key>
		<string>defaultCellMainText_color</string>
	</dict>
	<key>KnownContactInforViewController_style</key>
	<dict>
		<key>backgroundColor</key>
		<string>defaultBackground_color</string>
		<key>tableView_style</key>
		<string>ContactDetailTableView_style</string>
	</dict>
	<key>CallHistoryView_style</key>
	<dict>
		<key>tableView_style</key>
		<string>ContactDetailTableView_style</string>
	</dict>
	<key>CallHistoryCellView_style</key>
	<dict>
		<key>backgroundColor</key>
		<string>tp_color_grey_700</string>
		<key>carrier_label_textColor</key>
		<string>defaultCellDetailText_color</string>
		<key>clear_button_textColor</key>
		<string>tp_color_red_300</string>
		<key>number_label_textColor</key>
		<string>defaultCellDetailText_color</string>
		<key>time_label_textColor</key>
		<string>defaultCellMainText_color</string>
	</dict>
	<key>CallHistoryEmptyText_color</key>
	<string>RankEmptyReminderView_reminderLabelText_color</string>
	<key>contact_note_text_color</key>
	<string>tp_color_white</string>
	<key>contactNoteText_border_color</key>
	<string>tp_color_grey_200</string>
	<key>**************personalCenter-个人中心**************</key>
	<string></string>
	<key>**************个人中心：主界面**************</key>
	<string></string>
	<key>**************个人中心：选择头像弹框**************</key>
	<string></string>
	<key>personal_center_photo_choose_bg_color</key>
	<string>tp_color_white</string>
	<key>personal_center_photo_choose_title_color</key>
	<string>tp_color_grey_800</string>
	<key>**************gesture-手势拨号**************</key>
	<string></string>
	<key>**************手势拨号：拨号盘**************</key>
	<string></string>
	<key>gesturePad_style</key>
	<dict>
		<key>backgroundColor</key>
		<string>0x80262626</string>
		<key>gestureColor</key>
		<string>tp_color_light_blue_300</string>
	</dict>
	<key>dialerView_gestureUnRecognizerBar_style</key>
	<dict>
		<key>GestureUnRecognizerBarText_color</key>
		<string>tp_color_white</string>
		<key>backgroundImage</key>
		<string>gesture_optional_btn_bg@2x.png</string>
	</dict>
	<key>**************手势拨号：手势拨号主页**************</key>
	<string></string>
	<key>GestureEditViewController_addGestureButtonText_color</key>
	<string>tp_color_white</string>
	<key>GestureEditViewController_gestureNameButtonText_color</key>
	<string>grayColor</string>
	<key>GestureSettingSwitchLine_color</key>
	<string>tp_color_grey_700</string>
	<key>GestureEditViewController_alpha_Text_color</key>
	<string>tp_color_white_transparency_200</string>
	<key>GestureEditViewController_addcircle_disable_color</key>
	<string>0xCC3e3f3f</string>
	<key>GestureEditViewController_addcircle_normal_color</key>
	<string>0x3e3f3f</string>
	<key>**************手势拨号：添加手势（部分文字颜色与上面主页共用）**************</key>
	<string></string>
	<key>GestureChangePersonLabel_text_color</key>
	<string>defaultText_color</string>
	<key>GestureEditViewValidateLabel_text_color</key>
	<string>tp_color_light_blue_600</string>
	<key>gestureDrawBoard_LabelText_color</key>
	<string>tp_color_grey_750</string>
	<key>gestureDrawBoard_stroke_color</key>
	<string>tp_color_light_blue_300</string>
	<key>GestureActionPickerViewController_style</key>
	<dict>
		<key>tableView_style</key>
		<string>ContactDetailTableView_style</string>
		<key>cell_textColor</key>
		<string>defaultCellMainText_color</string>
	</dict>
	<key>gestureActionPickerView_labelText_color</key>
	<string>tp_color_blue_grey_100</string>
	<key>**************setting-皮肤商城**************</key>
	<string></string>
	<key>theme_headtabbar_style</key>
	<dict>
		<key>backgroundColor</key>
		<string>clearColor</string>
		<key>fisrtTabButton_backgroundImage</key>
		<string>Theme_tab_left_normal@2x.png</string>
		<key>firstTabButton_backgroundImage_ht</key>
		<string>Theme_tab_left_press@2x.png</string>
		<key>lastTabButton_backgroundImage</key>
		<string>Theme_tab_right_normal@2x.png</string>
		<key>lastTabButton_backgroundImage_ht</key>
		<string>Theme_tab_right_press@2x.png</string>
		<key>textColor</key>
		<string>defaultText_color</string>
		<key>selectedButtonColor</key>
		<string>tp_color_white</string>
		<key>unselectedButtonColor</key>
		<string>tp_color_white</string>
	</dict>
	<key>**************setting-设置**************</key>
	<string></string>
	<key>**************设置：设置界面**************</key>
	<string></string>
	<key>settings_section_header_text_color</key>
	<string>tp_color_grey_350</string>
	<key>generalSettingCell_Background_color</key>
	<string>tp_color_grey_700</string>
	<key>generalSettingCell_Background_ht_color</key>
	<string>defaultCellSelected_color</string>
	<key>generalSettingCell_MainText_color</key>
	<string>defaultCellMainText_color</string>
	<key>generalSettingCell_infoText_color</key>
	<string>defaultCellDetailText_color</string>
	<key>**************设置：IP拨号选择国家地域**************</key>
	<string></string>
	<key>SelectCountryViewController_background_color</key>
	<string>defaultBackground_color</string>
	<key>SelectCountryViewController_moreCountryButtonText_color</key>
	<string>defaultText_color</string>
	<key>**************设置：关于界面**************</key>
	<string></string>
	<key>url_title_normal_color</key>
	<string>tp_color_grey_350</string>
	<key>url_normal_color</key>
	<string>tp_color_light_blue_600</string>
	<key>url_ht_color</key>
	<string>tp_color_light_blue_800</string>
	<key>**************pop-弹框**************</key>
	<string></string>
	<key>**************弹框：IP拨号选择**************</key>
	<string></string>
	<key>PopUpSheetCellDetailLabel_style</key>
	<dict>
		<key>backgroundColor_color</key>
		<string>clearColor</string>
		<key>textColor_color</key>
		<string>grayColor</string>
	</dict>
	<key>PopUpSheetCellLabel_style</key>
	<dict>
		<key>backgroundColor_color</key>
		<string>clearColor</string>
		<key>textColor_color</key>
		<string>tp_color_grey_800</string>
	</dict>
	<key>PopUpSheetTitleLabel_style</key>
	<dict>
		<key>backgroundColor_color</key>
		<string>tp_color_grey_750</string>
		<key>textColor_color</key>
		<string>defaultText_color</string>
	</dict>
	<key>**************弹框：免费电话拨号选择**************</key>
	<string></string>
	<key>voip_normalCall_button_onClick_bg_image</key>
	<string>tp_color_light_blue_700</string>
	<key>voip_normalCall_button_normal_bg_image</key>
	<string>tp_color_light_blue_500</string>
	<key>voip_freeCall_button_bg_image</key>
	<string>tp_color_green_500</string>
	<key>voip_freeCall_button_bg_disable_image</key>
	<string>tp_color_grey_200</string>
	<key>voip_freeCall_button_bg_highlight_image</key>
	<string>tp_color_green_700</string>
	<key>**************弹框：分享弹框**************</key>
	<string></string>
	<key>voip_shareview_cancel_button_normal_image</key>
	<string>tp_color_white_transparency_0</string>
	<key>voip_shareview_cancel_button_hl_image</key>
	<string>tp_color_black_transparency_100</string>
	<key>**************弹框：新建分组弹框（带输入框）**************</key>
	<string></string>
	<key>**************弹框：警告弹框（文本、多按钮、选择框，主要用于信息提示）**************</key>
	<string></string>
	<key>common_popup_button_disabled_text_color</key>
	<string>tp_color_grey_600</string>
	<key>common_popup_button_text_color</key>
	<string>tp_color_white</string>
	<key>common_popup_shareToSinaText_color</key>
	<string>tp_color_grey_350</string>
	<key>common_popup_text_color</key>
	<string>tp_color_white</string>
	<key>popup_bg_color</key>
	<string>tp_color_grey_700</string>
	<key>-------------------不清楚是否可以删掉的区域反正上面没用到过-------------------</key>
	<string></string>
	<key>CustomMenuView_background_color</key>
	<string>0x343333</string>
	<key>CustomMenuView_text_color</key>
	<string>tp_color_white</string>
	<key>CustomMenuView_texthg_color</key>
	<string>0x72AAEA</string>
	<key>InitSmartSettingViewController_headerTitle_color</key>
	<string>defaultText_color</string>
	<key>MembersViewController_selectAllButton_normal_image</key>
	<string>common_select_small_normal@2x.png</string>
	<key>MembersViewController_selectAllButton_pressed_image</key>
	<string>common_select_small_press@2x.png</string>
	<key>MembersViewController_tableHeaderView_textLabel_style</key>
	<dict>
		<key>backgroundColor_color</key>
		<string>clearColor</string>
		<key>textColor_color</key>
		<string>UITableViewSectionHeaderText_color</string>
	</dict>
	<key>MemebersViewController_table_style</key>
	<dict>
		<key>backgroundColor</key>
		<string>defaultBackground_color</string>
		<key>seperatorColor</key>
		<string>defaultUITableViewSeperator_color</string>
	</dict>
	<key>SmartEyeHightLabelText_color</key>
	<string>tp_color_white</string>
	<key>SmartRuleView_instructLabel_style</key>
	<dict>
		<key>backgroundColor_color</key>
		<string>clearColor</string>
		<key>textColor_color</key>
		<string>0x454545</string>
	</dict>
	<key>SmartRuleView_reminderLabel_style</key>
	<dict>
		<key>backgroundColor_color</key>
		<string>clearColor</string>
		<key>textColor_color</key>
		<string>0x848282</string>
	</dict>
	<key>SmartRuleView_smartRuleTabelCellDetailText_color</key>
	<string>0x828282</string>
	<key>SmartRuleView_smartRuleTabelCellText_color</key>
	<string>0x454545</string>
	<key>gradienViewToBottom_start_color</key>
	<string>0xFF000000</string>
	<key>gradienViewToBottom_end_color</key>
	<string>0x35445c</string>
	<key>featureGuideTips_background_color</key>
	<string>0x0c1119</string>
	<key>addShopCellText_color</key>
	<string>0xCDB86E</string>
	<key>configuredNavbarHeader_color</key>
	<string>tp_color_white</string>
	<key>dailer_SearchHintView_style</key>
	<dict>
		<key>backgroundColor</key>
		<string>clearColor</string>
		<key>dotLine_image</key>
		<string>invite_contact_line@2x.png</string>
		<key>sheet_back_image</key>
		<string>dailer_tip_button_bg_normal@2x.png</string>
		<key>textColor</key>
		<string>0x1b1b1b</string>
	</dict>
	<key>defaultTPItemButton_style</key>
	<dict>
		<key>backgroundImage</key>
		<string>news_profile_btn_normal@2x.png</string>
		<key>backgroundImage_ht</key>
		<string>news_profile_btn_press@2x.png</string>
		<key>textColor</key>
		<string>defaultText_color</string>
	</dict>
	<key>defaultTPUIButton_style</key>
	<dict>
		<key>backgroundColor</key>
		<string>tp_color_black</string>
		<key>backgroundImage</key>
		<string>common_rule_list_cancel_button_ht@2x.png</string>
		<key>backgroundImage_ht</key>
		<string>common_rule_list_cancel_button@2x.png</string>
		<key>font</key>
		<string>118</string>
		<key>textColor</key>
		<string>defaultText_color</string>
		<key>toTop</key>
		<true/>
	</dict>
	<key>defaultUIView_style</key>
	<dict>
		<key>backgroundColor_color</key>
		<string>clearColor</string>
	</dict>
	<key>default_CallLogAddOnForSmartEyeView_style</key>
	<dict>
		<key>backgroundColor</key>
		<string>clearColor</string>
		<key>callerTypeLabel_background_color</key>
		<string>0xc88435</string>
		<key>callerTypeLabel_text_color</key>
		<string>SmartEyeHightLabelText_color</string>
		<key>callerTypeValidLabel_background_color</key>
		<string>0x63a03d</string>
		<key>callerTypeVipLabel_background_color</key>
		<string>0x4c8ad2</string>
	</dict>
	<key>dialerView_yellowPageGuideImage_patch_color</key>
	<string>0x30000000</string>
	<key>groupTableView_style</key>
	<dict>
		<key>backgroundColor</key>
		<string>defaultBackground_color</string>
		<key>seperatorColor</key>
		<string>clearColor</string>
	</dict>
	<key>menuEmailTPUIButton_style</key>
	<dict>
		<key>backgroundImage</key>
		<string>contact_menu_email@2x.png</string>
		<key>backgroundImage_ht</key>
		<string>contact_menu_email_hg@2x.png</string>
		<key>textColor</key>
		<string>CustomMenuView_text_color</string>
		<key>textColor_ht</key>
		<string>CustomMenuView_texthg_color</string>
	</dict>
	<key>FavoriteViewController_FavPerson_addOnBackground_color</key>
	<string>0xB3000000</string>
	<key>FavoriteViewController_FavPerson_addOnText_color</key>
	<string>defaultText_color</string>
	<key>noFavorHint_style</key>
	<dict>
		<key>hintImage</key>
		<string>favourite_none_pic@2x.png</string>
	</dict>
	<key>menuFavoriteTPUIButton_style</key>
	<dict>
		<key>backgroundImage</key>
		<string>contact_menu_favorite@2x.png</string>
		<key>backgroundImage_ht</key>
		<string>contact_menu_favorite_hg@2x.png</string>
		<key>textColor</key>
		<string>CustomMenuView_text_color</string>
		<key>textColor_ht</key>
		<string>CustomMenuView_texthg_color</string>
	</dict>
	<key>menuMoveTPUIButton_style</key>
	<dict>
		<key>backgroundImage</key>
		<string>contact_menu_move@2x.png</string>
		<key>backgroundImage_ht</key>
		<string>contact_menu_move_hg@2x.png</string>
		<key>textColor</key>
		<string>CustomMenuView_text_color</string>
		<key>textColor_ht</key>
		<string>CustomMenuView_texthg_color</string>
	</dict>
	<key>menuRemoveTPUIButton_style</key>
	<dict>
		<key>backgroundImage</key>
		<string>contact_menu_remove@2x.png</string>
		<key>backgroundImage_ht</key>
		<string>contact_menu_remove_hg@2x.png</string>
		<key>textColor</key>
		<string>CustomMenuView_text_color</string>
		<key>textColor_ht</key>
		<string>CustomMenuView_texthg_color</string>
	</dict>
	<key>menuSmsTPUIButton_style</key>
	<dict>
		<key>backgroundImage</key>
		<string>contact_menu_sms@2x.png</string>
		<key>backgroundImage_ht</key>
		<string>contact_menu_sms_hg@2x.png</string>
		<key>textColor</key>
		<string>CustomMenuView_text_color</string>
		<key>textColor_ht</key>
		<string>CustomMenuView_texthg_color</string>
	</dict>
	<key>pageControllerNormal_color</key>
	<string>tp_color_black</string>
	<key>pageControllerActive_color</key>
	<string>tp_color_white</string>
	<key>yellow_page_reload_bg_color</key>
	<string>tp_color_white</string>
	<key>yellow_page_reload_text_color</key>
	<string>tp_color_grey_600</string>
	<key>yellow_page_reload_btn_bg_color</key>
	<string>0x6699ff</string>
	<key>yellow_page_reload_btn_text_color</key>
	<string>tp_color_white</string>
	<key>yellow_page_loading_text_color</key>
	<string>tp_color_grey_600</string>
	<key>**************友盟反馈**************</key>
	<string></string>
	<key>umeng_feedback_faq_righticon_style</key>
	<dict>
		<key>backgroundColor</key>
		<string>clearColor</string>
		<key>textColor</key>
		<string>doneButton_textColor</string>
	</dict>
	<key>**************未皮肤化：颜色与按钮**************</key>
	<string></string>
	<key>tp_gray_1_color</key>
	<string>tp_color_grey_400</string>
	<key>tp_gray_2_color</key>
	<string>tp_color_grey_300</string>
	<key>tp_gray_3_color</key>
	<string>tp_color_grey_200</string>
	<key>tp_gray_4_color</key>
	<string>tp_color_grey_50</string>
	<key>tp_gray_light_1_color</key>
	<string>tp_color_grey_800</string>
	<key>tp_gray_light_2_color</key>
	<string>tp_color_grey_600</string>
	<key>tp_white_color</key>
	<string>tp_color_white</string>
	<key>tp_red_1_color</key>
	<string>tp_color_red_500</string>
	<key>tp_black_color</key>
	<string>tp_color_black</string>
	<key>tp_button_highlight_color</key>
	<string>tp_color_grey_100</string>
</dict>
</plist>
